{% extends "base.html" %}

{% block title %}Decks{% endblock %}

{% block content %}
{% load static %}
<h2>Decks</h2>
<h1>Placeholder</h1>
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Add Card">
<input id="deck-submit" type="button" value="Send Deck" onclick="sendDeck();">
<div id="image-testing">
    <p></p>
</div>
<div id="add_to_me">
    <p></p>
</div>
<script>
    const decksSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/decks/'
        );

    function setInitialDeck() {
        document.querySelector('#chat-log').value = ""
        document.querySelector('#chat-log').value += '\n----------------------------------------------------------------------\n\n\n----------------------------------------------------------------------\n';
        document.querySelector('#chat-log').value += 'Signature Squad\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Army\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Support\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Synapse\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Attachment\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Event\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Planet\n\n----------------------------------------------------------------------\n'
    }

    function findNextCutoff(startIndex, searchArray) {
        var arrayLength = searchArray.length;
        for (var j = startIndex; j < arrayLength; j++) {
            if (searchArray[j] === "----------------------------------------------------------------------") {
                return j;
            }
        }
        return -1;
    }

    setInitialDeck()
    decksSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_data = data.message.split("/");
            var chat_holder = document.querySelector('#chat-log').value;
            var split_chat_holder = chat_holder.split("\n");
            if (split_data[0] === "Name") {
                split_chat_holder[0] = split_data[1];
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Ally") {
                var temp = split_chat_holder[3].split(" (");
                temp[1] = split_data[1];
                split_chat_holder[3] = temp.join(" (") + ")";
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Feedback") {
                document.getElementById("add_to_me")
                .innerHTML =
                `<h3>` + split_data[1] + `</h3>`;
            } else if (split_data[0] === "Warlord") {
                split_chat_holder[2] = split_data[1];
                split_chat_holder[3] = split_data[2];
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Signature Squad") {
                        while (split_chat_holder[i + 2] !== "----------------------------------------------------------------------") {
                            split_chat_holder.splice(i + 2, 1);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
                var warlord_name = split_data[1];
                warlord_name = warlord_name.split(' ').join('_');
                var route_text = "/static/images/" + warlord_name + ".jpg";
                document.getElementById('image-testing').innerHTML =
                `<p><img src=` + route_text + ` alt=` + route_text + ` /></p>`

            } else if (split_data[0] === "SS") {
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Signature Squad") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Army"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Army") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Support"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Support") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Attachment"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Attachment") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Event"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Event") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else {
                document.querySelector('#chat-log').value += (data.message + '\n');
            }
        };

    function sendDeck() {
        var chat_holder = document.querySelector('#chat-log').value;
        decksSocket.send(JSON.stringify({
                'message': ("SEND DECK/" + chat_holder)
        }));
    }

    decksSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

    document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            decksSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
</script>
{% endblock %}