h4 {
    color: blue;
}

.box {
    position: relative;
    height: 88vh;
    border: 5px solid blue;
}

.planet {
    margin-left:5%;
    float:left;
}

#headquarters-player-2 {
    position:absolute;
    bottom:140px;
    border: 5px solid red;
}

#headquarters-player-1 {
    position:absolute;
    top:140px;
    border: 5px solid green;
}

#chat-message-submit {
    position:absolute;
    bottom:0;
    right:0;
}

#chat-message-input {
    position:absolute;
    bottom:0;
    right:40px;
}

#chat-log {
    position:absolute;
    bottom:30px;
    right:0;
}

#current-hand-player-1 {
    position:absolute;
    top:0;
    margin: auto;
    border: 5px solid green;
}

#current-hand-player-2 {
    position:absolute;
    bottom:0;
    margin: auto;
    border: 5px solid red;
}

#planets-in-play {
    position:absolute;
    width:100%;
    top:500px;
    border: 5px solid blue;
}