h4 {
    color: blue;
}

.box {
    position: relative;
    height: 88vh;
    border: 5px solid blue;
}

.planet {
    margin-left:5%;
    float:left;
}

#player-1-cards-in-play {
    position:absolute;
    top:26%;
    border: 5px solid yellow;
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
}

#player-2-cards-in-play {
    position:absolute;
    bottom:26%;
    border: 5px solid yellow;
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
}

.player-1-in-play {
    margin-left:5.4%;
    float:left;
    width: 130px;
    max-width:190px;
    overflow-x:scroll;
    white-space:nowrap;
}

.player-2-in-play {
    margin-left:5.4%;
    float:left;
    width: 130px;
    max-width:190px;
    overflow-x:scroll;
    white-space:nowrap;
}

#headquarters-player-2 {
    position:absolute;
    bottom:13%;
    border: 5px solid red;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
    left: 100px;
}

#headquarters-player-1 {
    position:absolute;
    top:13%;
    border: 5px solid green;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
}

#resources-player-2 {
    position:absolute;
    bottom:13%;
}

#resources-player-1 {
    position:absolute;
    top:13%;
    left: 100px;
}

#chat-message-submit {
    position:absolute;
    bottom:0;
    right:0;
}

#chat-message-input {
    position:absolute;
    bottom:0;
    right:40px;
}

#chat-log {
    position:absolute;
    bottom:30px;
    right:0;
}

#current-hand-player-1 {
    position:absolute;
    top:0;
    margin: auto;
    border: 5px solid green;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
}

#current-hand-player-2 {
    position:absolute;
    bottom:0;
    margin: auto;
    border: 5px solid red;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
}

#planets-in-play {
    position:absolute;
    width:100%;
    top:43%;
    border: 5px solid blue;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    display: flex;
    flex-direction: row;
}