.Card {
    position: relative;
    height:8vh;
    width:5vw;
}

.Card-saved-box {
    position: relative;
    width: 50px;
    height: 70px;
}

.no-break {
    display: inline;
}

#deck-lists {
    position:relative;
    margin:auto;
    border-style: double;
    border-color: lightblue;
    border-width: 5px;
    background: rgba(47, 40, 153, 0.3);
    max-width:240px;
    min-height:10vh;
    grid-area: decks-area;
    max-height: 60vh;
    overflow-y: scroll;
}

.db-image {
    width: 75px;
    height: 100px;
    align-self: center;
}

#card-count {
    display: inline;
}

.poster-card {
    display: flex;
}

.auto-deck-build {
    background: rgba(47, 40, 153, 0.3);
    width: 525px;
    height: auto;
    border: 5px solid green;
    display: grid;
    grid-template-columns: 75px 75px 25px 50px 50px 75px 50px 125px;
    grid-template-rows: 150px 200px 200px;
    grid-template-areas:
    "warlord-card synapse-card pledge-card pledge-card details details details details"
    "signature-squad-cards signature-squad-cards signature-squad-cards army-cards army-cards army-cards army-cards army-cards"
    "event-cards event-cards event-cards attachment-cards attachment-cards attachment-cards support-cards support-cards";
}

.auto-deck-build > #details {
    background: rgba(47, 40, 153, 0.3);
    border: 1px solid black;
    text-align: center;
}

.auto-deck-build > .db-section {
    background: rgba(47, 40, 153, 0.3);
    border: 1px solid black;
    text-align: center;
    overflow-y:auto;
}

#warlord-card {
    grid-area: warlord-card;
}

#pledge-card {
    grid-area: pledge-card;
    cursor: pointer;
}

#disconnected-warning {
    display: none;
    background-color: orange;
    opacity: 0.9;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 2px;
    border-color: orangered;
    border-style: double;
}

#synapse-card {
    grid-area: synapse-card;
}

#details {
    grid-area: details;
}

#signature-squad-cards {
    grid-area: signature-squad-cards;
}

#army-cards {
    grid-area: army-cards;
}

#event-cards {
    grid-area: event-cards;
}

#support-cards {
    grid-area: support-cards;
}

#attachment-cards {
    grid-area: attachment-cards;
}

#manual-deck-import {
    display: none;
}

.box {
    width: 40vw;
    height: 300px;
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
    margin: 10px;
    overflow-y: scroll;
}

.saved-deck-box {
    width: 200px;
    height: 70px;
    background-color: lightblue;
    border: 2px solid blue;
    margin: 10px;
    display: flex;
    flex-direction: row;
    word-break: break-all;
}

#existing-decks {
    position: absolute;
    left:max(600px, calc(100vw - 280px));
    width:260px;
    top:75px;
    overflow-y: scroll;
    max-height: 80vh;
}