<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">

  <meta property="og:url" content="https://www.iridial.net">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Iridial">
  <meta property="og:description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta property="og:image" content="">

  <meta name="twitter:card" content="Iridial">
  <meta property="twitter:url" content="https://www.iridial.net">
  <meta name="twitter:title" content="Iridial">
  <meta name="twitter:description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="twitter:image" content="">

  <meta name="application-name" content="Iridial">
  <meta name="description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="keywords" content="Conquest, Warhammer, LCG">
  <meta name="author" content="Coalback">
  <title>{% block title %}Iridial{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'navi_bar.css' %}">
</head>
<link rel="shortcut icon" href="/static/images/favicon.png">
<body>
  {% include 'header.html'%}
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer id="site-footer">
    <span class="version-info">Conquest LCG Site - {{ site_version }}</span>
  </footer>
</body>

</html>