<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'navi_bar.css' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<head>
  <meta charset="utf-8">
  <meta name="application-name" content="Iridial">
  <meta name="description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="keywords" content="Conquest, Warhammer, LCG, Game">
  <meta name="author" content="Coalback">
  <meta name="twitter:title" content="Iridial">
  <meta name="twitter:description" content="A fan-made website featuring a fully-automated browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="twitter:image" content="{% static 'images/favicon.png' %}?v=4f32ecc8f43d">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.iridial.net/">
  <meta property="og:title" content="Iridial">
  <meta property="og:description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta property="og:image" content="{% static 'images/favicon.png' %}?v=4f32ecc8f43d">
  <title>{% block title %}Conquest{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}?v=4f32ecc8f43d">
</head>

<body>
  {% include 'header.html'%}
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>