<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'navi_bar.css' %}">
<link rel ="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<head>
  {% include 'header.html'%}
  <meta charset="utf-8">
  <meta name="application-name" content="Iridial.net">
  <meta name="description" content="A browser implementation of the Warhammer 40,000: Conquest Living Card Game.">
  <meta name="keywords" content="Conquest, Warhammer, LCG, Game">
  <meta name="author" content="Coalback">
  <title>{% block title %}Conquest{% endblock %}</title>
</head>

<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>