<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/decks/">Decks</a></li>
  <li><a href="/chat/">Chat</a></li>
  <li><a href="/play/">Play</a></li>
  {% if user.is_authenticated %}
  <li><p>Logged in as {{ user.username }}</p></li>
  <li><form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
  </form></li>
  {% else %}
  <li><p>You are not logged in</p></li>
  <li><a href="{% url 'login' %}">Log In</a></li>
  <li><a href="{% url 'signup' %}">Sign Up</a></li>
  {% endif %}
</ul>