<ul id="navi-bar">
  <li class="navi-bar-item"><span class="version-info">{{ site_version }}</span></li>
  <li class="navi-bar-item"><a href="/">Home</a></li>
  {% if user.is_authenticated %}
  <li class="navi-bar-item"><a href="/decks/">Decks</a></li>
  {% endif %}
  <li class="navi-bar-item"><a href="/play/">Play</a></li>
  <li class="navi-bar-item"><a href="/help/">Help</a></li>
  {% if user.is_authenticated %}
  <li class="navi-bar-item"><a href="/settings/">Settings</a></li>
  {% endif %}
  <li class="navi-bar-item"><a href="/chat/Main/">Chat</a></li>
  {% if user.is_authenticated %}
  <li class="navi-bar-item"><a href="/decks/import/">Import</a></li>
  {% endif %}
  <!-- "/static/images/ProfilePictures/{{ user.username }}" -->
  {% if user.is_authenticated %}
  <li id="avatar" class="pull-right navi-bar-item">
    <img class="avatar" src="/media/{{ user.username }}.jpg" onerror="this.onerror=null; this.src='/static/images/defaultprofile.jpg'">
  </li>
  <li id="loggedin-name" class="pull-right navi-bar-item"><p>Logged in as {{ user.username }}</p></li>
  <li id="log-out-cont" class="pull-right navi-bar-item"><form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button id="log-out-button" type="submit">Log Out</button>
  </form></li>
  {% else %}
  <li id="sign-up-button" class="pull-right navi-bar-item"><a href="{% url 'signup' %}">Sign Up</a></li>
  <li id="log-in-button" class="pull-right navi-bar-item"><a href="{% url 'login' %}">Log In</a></li>
  <li id="log-out-message" class="pull-right navi-bar-item"><p>You are not logged in</p></li>
  {% endif %}
</ul>
