{% extends "base.html" %}

{% block content %}

<style>
        .box {
            top: 80px;
            margin-left:auto;
            margin-right:auto;
            width: 30vw;
            height: auto;
            background-color: lightblue;
            opacity:0.8;
            border: 2px solid blue;
            padding: 2px;
        }
        .greetings {
            position:absolute;
            top: 80px;
            left: 20px;
        }

        .profile-pic-entry-box {
          width: 30vw;
        }

        .profile-pic-entry {
          background-color: lightblue;
          border: 2px solid blue;
          width: 180px
        }
</style>

<div class="box">
    {% if user.is_authenticated %}
    <h2>You are logged in as {{ user.username }}.</h2>
    <p><a href="{% url 'password_change' %}">Password Change</a></p>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
    </form>
    <div class="profile-pic-entry-box">
        <div>Change your profile picture by uploading a file here.</div>
        <div>Please note that it could take several minutes for your profile picture to update.</div>
        <div class="profile-pic-entry">
        <form method="post" enctype="multipart/form-data" action="simple_upload/">
          {% csrf_token %}
          <input type="file" name="file">
          <button type="submit">Upload</button>
        </form>
        </div>
    </div>
    <div class="game-appearance">
        <h2>Game Settings</h2>
        <div>Change the appearance of some aspects of the game here.</div>
        <div>Changes should be applied immediately. Your cardback will not be updated in your active games.</div>
        <form method="post" action="/accounts/update_settings/">
          {% csrf_token %}
            <div>Cardback:</div>
            <select id="Cardback" name="Cardback">
                <option></option>
                <option>Default</option>
                <option>Space Marines</option>
                <option>Necrons</option>
                <option>Chaos</option>
                <option>Tyranids</option>
                <option>Orks</option>
            </select>
            <div>Background:</div>
            <select id="Background" name="Background">
                <option></option>
                <option>Imperial Aquila</option>
            </select>
            <br>
          <button type="submit">Save Settings</button>
        </form>
        <div>You current settings are:</div>
        <div>Cardback: {{ cardback }}</div>
        <div>Background: {{ background }}</div>
    </div>
    {% else %}
    <h2>You are not logged in.</h2>
    {% endif %}
</div>

{% endblock %}