{% extends "base.html" %}

{% block title %}Decks{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'decks_style.css' %}">
<div id="foreword" class="box">
    <h1>Either use conquestdb.com to create decks and paste them in the text box,</h1>
    <h1>or configure decks manually. Use "Ally/{Faction}" and "Name/{Deck_Name}"</h1>
    <h1>to set the deck's ally faction and the name.</h1>
    <h1>Note that card names are case-sensitive.</h1>
</div>

<textarea id="chat-log" cols="100" rows="20"></textarea><br>
<input id="chat-message-input" type="search" list="card_list" size="100"><br>
<datalist id="card_list">
    <option value="Captain Cato Sicarius"></option>
    <option value="Sicaruis's Chosen"></option>
    <option value="Cato's Stronghold"></option>
    <option value="The Fury of Sicarius"></option>
    <option value="Tallassarian Tempest Blade"></option>
    <option value="10th Company Scout"></option>
    <option value="Tactical Squad Cardinis"></option>
    <option value="Honored Librarian"></option>
    <option value="Blood Angels Veterans"></option>
    <option value="Daring Assault Squad"></option>
    <option value="Land Raider"></option>
    <option value="Ultramarines Dreadnought"></option>
    <option value="Veteran Brother Maxos"></option>
    <option value="Eager Recruit"></option>
    <option value="Iron Hands Techmarine"></option>
    <option value="Raven Guard Speeder"></option>
    <option value="Deathwing Guard"></option>
    <option value="Drop Pod Assault"></option>
    <option value="Indomitable"></option>
    <option value="Exterminatus"></option>
    <option value="Godwyn Pattern Bolter"></option>
    <option value="Iron Halo"></option>
    <option value="Fortress-Monastery"></option>
    <option value="Holy Sepulchre"></option>
    <option value="Nazdreg"></option>
    <option value="Zarathur, High Sorcerer"></option>
    <option value="Nazdreg's Flash Gitz"></option>
    <option value="Bigga Is Betta"></option>
    <option value="Cybork Body"></option>
    <option value="Sniveling Grot"></option>
    <option value="Goff Nob"></option>
    <option value="Weirdboy Maniak"></option>
    <option value="Tankbusta Bommaz"></option>
    <option value="Rugged Killa Kans"></option>
    <option value="Enraged Ork"></option>
    <option value="Crushface"></option>
    <option value="Bad Dok"></option>
    <option value="Rokkitboy"></option>
    <option value="Goff Boyz"></option>
    <option value="Shoota Mob"></option>
    <option value="Burna Boyz"></option>
    <option value="Battle Cry"></option>
    <option value="Snotling Attack"></option>
    <option value="Squig Bombin'"></option>
    <option value="Rokkit Launcha"></option>
    <option value="Ork Kannon"></option>
    <option value="Bigtoof Banna"></option>
    <option value="Tellyporta Pad"></option>
    <option value="Zarathur's Flamers"></option>
    <option value="Shrine of Warpflame"></option>
    <option value="Infernal Gateway"></option>
    <option value="Mark of Chaos"></option>
    <option value="Alpha Legion Infiltrator"></option>
    <option value="Possessed"></option>
    <option value="Splintered Path Acolyte"></option>
    <option value="Khorne Berzerker"></option>
    <option value="Vicious Bloodletter"></option>
    <option value="Umbral Preacher"></option>
    <option value="Black Legion Heldrake"></option>
    <option value="Ravenous Flesh Hounds"></option>
    <option value="Virulent Plague Squad"></option>
    <option value="Chaos Fanatics"></option>
    <option value="Soul Grinder"></option>
    <option value="Xavaes Split-Tongue"></option>
    <option value="Warpstorm"></option>
    <option value="Tzeentch's Firestorm"></option>
    <option value="Promise of Glory"></option>
    <option value="Rune-Encrusted Armor"></option>
    <option value="Dire Mutation"></option>
    <option value="Fortress of Madness"></option>
    <option value="No Mercy"></option>
    <option value="Void Pirate"></option>
    <option value="Rogue Trader"></option>
    <option value="Fall Back!"></option>
    <option value="Promethium Mine"></option>
    <option value="Eldorath Starbane"></option>
    <option value="Starbane's Council"></option>
    <option value="Alaitoc Shrine"></option>
    <option value="Foresight"></option>
    <option value="Mobility"></option>
    <option value="Biel-Tan Guardians"></option>
    <option value="Altansar Rangers"></option>
    <option value="Eldar Survivalist"></option>
    <option value="Wildrider Squadron"></option>
    <option value="Soaring Falcon"></option>
    <option value="Wailing Wraithfighter"></option>
    <option value="Iyanden Wraithguard"></option>
    <option value="Shrouded Harlequin"></option>
    <option value="Swordwind Farseer"></option>
    <option value="Silvered Blade Avengers"></option>
    <option value="Biel-Tan Warp Spiders"></option>
    <option value="Spiritseer Erathal"></option>
    <option value="Superiority"></option>
    <option value="Nullify"></option>
    <option value="Doom"></option>
    <option value="Gift of Isha"></option>
    <option value="Banshee Power Sword"></option>
    <option value="Corsair Trading Port"></option>
    <option value="Craftworld Gate"></option>
    <option value="Commander Shadowsun"></option>
    <option value="Shadowsun's Stealth Cadre"></option>
    <option value="Communications Relay"></option>
    <option value="Squadron Redeployment"></option>
    <option value="Command-Link Drone"></option>
    <option value="Recon Drone"></option>
    <option value="Vior'la Marksman"></option>
    <option value="Carnivore Pack"></option>
    <option value="Vash'ya Trailblazer"></option>
    <option value="Fire Warrior Elite"></option>
    <option value="Fire Warrior Strike Team"></option>
    <option value="Crisis Battle Guard"></option>
    <option value="Earth Caste Technician"></option>
    <option value="Gun Drones"></option>
    <option value="Stingwing Swarm"></option>
    <option value="Fireblade Kais'vre"></option>
    <option value="Experimental Devilfish"></option>
    <option value="Even the Odds"></option>
    <option value="Calculated Strike"></option>
    <option value="Deception"></option>
    <option value="Repulsor Impact Field"></option>
    <option value="Ion Rifle"></option>
    <option value="Frontline Launch Bay"></option>
    <option value="Ambush Platform"></option>
    <option value="Colonel Straken"></option>
    <option value="Straken's Command Squad"></option>
    <option value="Omega Zero Command"></option>
    <option value="Glorious Intervention"></option>
    <option value="Straken's Cunning"></option>
    <option value="Ratling Deadeye"></option>
    <option value="Cadian Mortar Squad"></option>
    <option value="Sanctioned Psyker"></option>
    <option value="Leman Russ Battle Tank"></option>
    <option value="Mordian Hellhound"></option>
    <option value="Assault Valkyrie"></option>
    <option value="Stalwart Ogryn"></option>
    <option value="Captain Markis"></option>
    <option value="Enginseer Augur"></option>
    <option value="Penal Legionnaire"></option>
    <option value="Infantry Conscripts"></option>
    <option value="Elysian Assault Team"></option>
    <option value="Preemptive Barrage"></option>
    <option value="Suppressive Fire"></option>
    <option value="Hostile Environment Gear"></option>
    <option value="Bodyguard"></option>
    <option value="Imperial Bunker"></option>
    <option value="Rockcrete Bunker"></option>
    <option value="Catachan Outpost"></option>
    <option value="Packmaster Kith"></option>
    <option value="Kith's Khymeramasters"></option>
    <option value="Khymera Den"></option>
    <option value="Pact of the Haemonculi"></option>
    <option value="Agonizer of Bren"></option>
    <option value="Sybarite Marksman"></option>
    <option value="Incubus Warrior"></option>
    <option value="Haemonculus Tormentor"></option>
    <option value="Hellion Gang"></option>
    <option value="Beasthunter Wyches"></option>
    <option value="Baleful Mandrake"></option>
    <option value="Vile Raider"></option>
    <option value="Black Heart Ravager"></option>
    <option value="Murder of Razorwings"></option>
    <option value="Coliseum Fighters"></option>
    <option value="Kabalite Strike Force"></option>
    <option value="Syren Zythlex"></option>
    <option value="Power from Pain"></option>
    <option value="Archon's Terror"></option>
    <option value="Raid"></option>
    <option value="Suffering"></option>
    <option value="Hypex Injector"></option>
    <option value="Altar of Torment"></option>
    <option value="Twisted Laboratory"></option>
</datalist>
<input id="chat-message-submit" type="button" value="Add Card">
<input id="deck-submit" type="button" value="Send Deck" onclick="sendDeck();">
<div id="current-warlord">
    <p></p>
</div>
<div id="current-deck">
    <p></p>
</div>
<!--
<div id="current-alignment-wheel">
    <p><img src="/static/images/AlignmentWheel.png"  alt="Alignment wheel" height="300" width="300"/></p>
</div>
-->
<div id="add_to_me">
    <p></p>
</div>
<div id="existing-decks">
    <p>Your current decks:</p>
    <div id="deck-lists">
        <p>You have no saved decks</p>
    </div>
</div>
<script>
    var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    const decksSocket = new WebSocket(
	    ws_scheme
            + '://'
            + window.location.host
            + '/ws/decks/'
        );
    var cardCount = 0;
    function setInitialDeck() {
        document.querySelector('#chat-log').value = ""
        document.querySelector('#chat-log').value += '\n----------------------------------------------------------------------\n\n\n----------------------------------------------------------------------\n';
        document.querySelector('#chat-log').value += 'Signature Squad\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Army\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Support\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Synapse\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Attachment\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Event\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Planet\n\n----------------------------------------------------------------------\n'
    }

    function findNextCutoff(startIndex, searchArray) {
        var arrayLength = searchArray.length;
        for (var j = startIndex; j < arrayLength; j++) {
            if (searchArray[j] === "----------------------------------------------------------------------") {
                return j;
            }
        }
        return -1;
    }

    setInitialDeck()
    decksSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_data = data.message.split("/");
            var chat_holder = document.querySelector('#chat-log').value;
            var split_chat_holder = chat_holder.split("\n");
            if (split_data[0] === "Name") {
                split_chat_holder[0] = split_data[1];
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Ally") {
                var temp = split_chat_holder[3].split(" (");
                temp[1] = split_data[1];
                split_chat_holder[3] = temp.join(" (") + ")";
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Feedback") {
                document.getElementById("add_to_me")
                .innerHTML =
                `<h3>` + split_data[1] + `</h3>`;
            } else if (split_data[0] === "Load deck") {
                document.querySelector('#chat-log').value = split_data[1];
            } else if (split_data[0] === "saved_deck") {
                if (document.getElementById("deck-lists").innerHTML === `<p>You have no saved decks</p>`) {
                    document.getElementById("deck-lists").innerHTML = ``;
                }
                var message = "";
                message = `<div class=saved-deck-box>`;
                message += `<p>` + split_data[1] + `: ` + split_data[2] + `</p>`;
                message += `</div>`;
                message += `<button id=` + split_data[1].split(' ').join('-') + ` onclick="loadSavedDeck(this.id)">
                Load Deck
                </button>`;
                document.getElementById("deck-lists").innerHTML += message;
                console.log(split_data[1]);
                console.log(split_data[2]);

            } else if (split_data[0] === "Warlord") {
                split_chat_holder[2] = split_data[1];
                split_chat_holder[3] = split_data[2];
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Signature Squad") {
                        while (split_chat_holder[i + 2] !== "----------------------------------------------------------------------") {
                            split_chat_holder.splice(i + 2, 1);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
                var warlord_name = split_data[1];
                warlord_name = warlord_name.split(' ').join('_');
                var route_text = "/static/images/" + warlord_name + ".jpg";
                document.getElementById('current-warlord').innerHTML =
                `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                cardCount = 0



            } else if (split_data[0] === "SS") {
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Signature Squad") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
                var card_name = split_data[1];
                card_name = card_name.split(' ').join('_');
                var route_text = "/static/images/" + card_name + ".jpg";
                document.getElementById('current-warlord').innerHTML +=
                `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`



            } else if (split_data[0] === "Army"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Army") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                    var card_name = split_data[1];
                                    card_name = card_name.split(' ').join('_');
                                    var route_text = "/static/images/" + card_name + ".jpg";
                                    document.getElementById('current-deck').innerHTML +=
                                    `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                                    cardCount += 1
                                    if (cardCount % 10 === 0) {
                                        document.getElementById('current-deck').innerHTML += `<p></p>`
                                    }
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                            var card_name = split_data[1];
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            document.getElementById('current-deck').innerHTML +=
                            `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`;
                            cardCount += 1;
                            if (cardCount % 10 === 0) {
                                document.getElementById('current-deck').innerHTML += `<p></p>`;
                            }
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;

            } else if (split_data[0] === "Support"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Support") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                    var card_name = split_data[1];
                                    card_name = card_name.split(' ').join('_');
                                    var route_text = "/static/images/" + card_name + ".jpg";
                                    document.getElementById('current-deck').innerHTML +=
                                    `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                                    cardCount += 1
                                    if (cardCount % 10 === 0) {
                                        document.getElementById('current-deck').innerHTML += `<p></p>`
                                    }
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                            var card_name = split_data[1];
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            document.getElementById('current-deck').innerHTML +=
                            `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                            cardCount += 1
                            if (cardCount % 10 === 0) {
                                document.getElementById('current-deck').innerHTML += `<p></p>`
                            }
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Attachment"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Attachment") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                    var card_name = split_data[1];
                                    card_name = card_name.split(' ').join('_');
                                    var route_text = "/static/images/" + card_name + ".jpg";
                                    document.getElementById('current-deck').innerHTML +=
                                    `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                                    cardCount += 1
                                    if (cardCount % 10 === 0) {
                                        document.getElementById('current-deck').innerHTML += `<p></p>`
                                    }
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                            var card_name = split_data[1];
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            document.getElementById('current-deck').innerHTML +=
                            `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                            cardCount += 1
                            if (cardCount % 10 === 0) {
                                document.getElementById('current-deck').innerHTML += `<p></p>`
                            }
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else if (split_data[0] === "Event"){
                var arrayLength = split_chat_holder.length;
                for (var i = 0; i < arrayLength; i++) {
                    if (split_chat_holder[i] === "Event") {
                        var cardAlreadyPresent = false;
                        endIndex = findNextCutoff(i, split_chat_holder);
                        for (var k = i; k < endIndex; k++) {
                            var currentName = split_chat_holder[k].slice(3);
                            if (currentName === split_data[1]) {
                                cardAlreadyPresent = true;
                                var amountOfCard = Number(Array.from(split_chat_holder[k])[0]);
                                amountOfCard = amountOfCard + 1;
                                if (amountOfCard < 4) {
                                    split_chat_holder[k] = amountOfCard.toString() + split_chat_holder[k].slice(1);
                                    var card_name = split_data[1];
                                    card_name = card_name.split(' ').join('_');
                                    var route_text = "/static/images/" + card_name + ".jpg";
                                    document.getElementById('current-deck').innerHTML +=
                                    `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                                    cardCount += 1
                                    if (cardCount % 10 === 0) {
                                        document.getElementById('current-deck').innerHTML += `<p></p>`
                                    }
                                }
                            }
                        }
                        if (cardAlreadyPresent !== true) {
                            split_chat_holder[i + 1] = ("\n1x " + split_data[1]);
                            var card_name = split_data[1];
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            document.getElementById('current-deck').innerHTML +=
                            `<img src=` + route_text + ` alt=` + route_text + ` class="Card" />`
                            cardCount += 1
                            if (cardCount % 10 === 0) {
                                document.getElementById('current-deck').innerHTML += `<p></p>`
                            }
                        }
                    }
                }
                chat_holder = split_chat_holder.join("\n");
                document.querySelector('#chat-log').value = chat_holder;
            } else {
                document.querySelector('#chat-log').value += (data.message + '\n');
            }
        };

    function addSavedDeck() {

    }

    function loadSavedDeck(deck_name) {
        decksSocket.send(JSON.stringify({
                'message': ("LOAD DECK/" + deck_name.split('-').join(' '))
        }));
    }

    function sendDeck() {
        var chat_holder = document.querySelector('#chat-log').value;
        decksSocket.send(JSON.stringify({
                'message': ("SEND DECK/" + chat_holder)
        }));
    }

    decksSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

    document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            decksSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
</script>
{% endblock %}
