{% extends "base.html" %}

{% block title %}Decks{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'decks_style.css' %}">
<datalist id="card_list">

</datalist>
<input id="toggle-manual" type="button" value="Show/Hide Manual" onclick="showDeckImport();">
<div id="manual-deck-import">
<textarea id="chat-log" cols="100" rows="10"></textarea><br>
<input id="chat-message-input" type="search" list="card_list" size="100"><br>
<input id="deck-submit" type="button" value="Send Deck" onclick="sendDeck();">
<input id="chat-message-submit" type="button" value="Add Card">
</div>
<div class="auto-deck-build">
    <div id="warlord-card" class="poster-card"><img id="Nazdreg" src="/static/images/CardImages/Cardback.jpg" class="db-image"></div>
    <div id="synapse-card" class="poster-card"><img id="Cardback" src="/static/images/CardImages/Cardback.jpg" class="db-image"></div>
    <div id="pledge-card" class="poster-card"><img id="EmptyPledge" src="/static/images/CardImages/Cardback.jpg" class="db-image"></div>
    <div id="details">Details<br>
        <label for="name-deck">Name:</label>
        <input id="name-deck" type="search" size="28"><br>
        <label for="ally">Ally:</label>
        <select name="ally" id="ally" onChange="notCheckedAlly();">
            <option value="None"></option>
            <option value="Space Marines">Space Marines</option>
            <option value="Tau">Tau</option>
            <option value="Eldar">Eldar</option>
            <option value="Dark Eldar">Dark Eldar</option>
            <option value="Chaos">Chaos</option>
            <option value="Orks">Orks</option>
            <option value="Astra Militarum">Astra Militarum</option>
        </select>
        <input id="update-ally" type="button" value="Update Factions" onclick="sendAlly();">
        <p id="ok-ally">Ally OK</p>
        <div id="card-count-div">Card Count: <p id="card-count">0</p></div>
    </div>
    <div id="signature-squad-cards" class="db-section">Signature Squad

    </div>
    <div id="army-cards" class="db-section">Army Units</div>
    <div id="event-cards" class="db-section">Events</div>
    <div id="attachment-cards" class="db-section">Attachments</div>
    <div id="support-cards" class="db-section">Supports</div>
</div>
<input id="chat-message-input-2" type="search" list="card_list" size="60"><br>
<input id="deck-submit-2" type="button" value="Send Deck" onclick="sendDeckAuto();">
<input id="chat-message-submit-2" type="button" value="Add Card">
<div id="current-warlord">
    <p></p>
</div>
<div id="current-deck">
    <p></p>
</div>
<div id="add_to_me">
    <p></p>
</div>
<div id="existing-decks">
    <p>Your current decks:</p>
    <div id="deck-lists">
        <p>You have no saved decks</p>
    </div>
</div>
<script>
    var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    const decksSocket = new WebSocket(
	    ws_scheme
            + '://'
            + window.location.host
            + '/ws/decks/'
        );
    var cardCount = 0;
    var numDecksLoaded = 0;
    function setInitialDeck() {
        document.querySelector('#chat-log').value = ""
        document.querySelector('#chat-log').value += '\n----------------------------------------------------------------------\n\n\n----------------------------------------------------------------------\n';
        document.querySelector('#chat-log').value += 'Signature Squad\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Army\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Support\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Synapse\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Attachment\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Event\n\n----------------------------------------------------------------------\n'
        document.querySelector('#chat-log').value += 'Planet\n\n----------------------------------------------------------------------\n'
    }

    function sendAlly() {
        var e = document.getElementById("ally");
        var text = e.options[e.selectedIndex].text;
        var message = "Ally/" + text;
        decksSocket.send(JSON.stringify({
            'message': message
        }));
    }

    function decreaseCount(id) {
        var idName = id.slice(0,-9)
        var countName = idName + "-Count";
        var e = document.getElementById(countName);
        if (typeof(e) != 'undefined' && e != null) {
            var str = e.innerHTML;
            if (str[2] !== "1") {
                str = decrementString(str);
                e.innerHTML = str;
            } else {
                var holderName = idName + "-Holder";
                var x = document.getElementById(holderName);
                x.remove();
            }
            cardCount = cardCount - 1;
            updateCardCount();
        }
    }

    function selectElement(id, valueToSelect) {
        let element = document.getElementById(id);
        element.value = valueToSelect;
    }

    function incrementCount(id) {
        var idName = id.slice(0,-9)
        var countName = idName + "-Count";
        var e = document.getElementById(countName);
        if (typeof(e) != 'undefined' && e != null) {
            var str = e.innerHTML;
            var max_copies = "3";
            if (idName === "Immature_Squig") {
                max_copies = "6";
            }
            if (str[2] !== max_copies) {
                str = incrementString(str);
                e.innerHTML = str;
                cardCount = cardCount + 1;
                updateCardCount();
            }
        }
    }

    function updateCardCount() {
        var e = document.getElementById("card-count");
        e.innerHTML = cardCount.toString();
    }

    function notCheckedAlly() {
        document.querySelector('#ok-ally').innerHTML = "Please update";
    }

    function findNextCutoff(startIndex, searchArray) {
        var arrayLength = searchArray.length;
        for (var j = startIndex; j < arrayLength; j++) {
            if (searchArray[j] === "----------------------------------------------------------------------") {
                return j;
            }
        }
        return -1;
    }

    function decrementString(str) {
        var count = str.match(/\d*$/);
        return str.substr(0, count.index) + (--count[0]);
    };

    function incrementString(str) {
        var count = str.match(/\d*$/);
        return str.substr(0, count.index) + (++count[0]);
    };

    setInitialDeck()
    decksSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_data = data.message.split("/");
            var chat_holder = document.querySelector('#chat-log').value;
            var split_chat_holder = chat_holder.split("\n");
            if (split_data[0] === "Name") {
                selectElement('name-deck', split_data[1]);
            } else if (split_data[0] === "SetAlly") {
                selectElement("ally", split_data[1]);
            } else if (split_data[0] === "Ally") {
                document.querySelector('#ok-ally').innerHTML = "Ally OK";
            } else if (split_data[0] === "Feedback") {
                document.getElementById("add_to_me")
                .innerHTML =
                `<h3>` + split_data[1] + `</h3>`;
            } else if (split_data[0] === "CARD_NAMES") {
                var e = document.getElementById('card_list');
                var new_val = "";
                for (var i = 1; i < split_data.length; i++) {
                    new_val = `<option value="` + split_data[i] + `"></option>`;
                    e.innerHTML += new_val;
                }
            } else if (split_data[0] === "Load deck") {

            } else if (split_data[0] === "Delete deck") {

            } else if (split_data[0] === "saved_deck") {
                if (numDecksLoaded === 0) {
                    document.getElementById("deck-lists").innerHTML = ``;
                }
                numDecksLoaded = 1;
                var message = "";
                var cardName = split_data[2].split(' ').join('_');
                var route_text = "/static/images/CardImages/" + cardName + ".jpg";
                message = `<div class=saved-deck-box id="` + split_data[1] + `-container">`;
                message += `<img src=` + route_text + ` alt=` + route_text + ` class="Card-saved-box" />`;
                message += `<p>` + split_data[1] + `</p>`;
                message += `</div>`;
                message += `<button id="` + split_data[1] + `" onclick="loadSavedDeck(this.id)">
                Load Deck
                </button>`;
                message += `<button id="` + split_data[1] + `-delete" onclick="deleteSavedDeck(this.id)">
                Delete Deck
                </button>`;
                document.getElementById("deck-lists").innerHTML += message;
            } else if (split_data[0] === "Warlord") {
                document.getElementById("signature-squad-cards").innerHTML = `Signature Squad`;
                document.getElementById("army-cards").innerHTML = `Army Units`;
                document.getElementById("event-cards").innerHTML = `Events`;
                document.getElementById("attachment-cards").innerHTML = `Attachments`;
                document.getElementById("support-cards").innerHTML = `Supports`;
                var warlordName = split_data[1];
                route = "/static/images/CardImages/" + warlordName.split(' ').join('_') + ".jpg";
                notCheckedAlly();
                document.getElementById('warlord-card').innerHTML = `<img id=` + warlordName.split(' ').join('_') + ` src=` + route + ` class="db-image">`
                document.getElementById('synapse-card').innerHTML = `<img id="Cardback" src="/static/images/CardImages/Cardback.jpg" class="db-image">`
                document.getElementById('pledge-card').innerHTML = `<img id="EmptyPledge" src="/static/images/CardImages/Cardback.jpg" class="db-image">`
                cardCount = 8;
                updateCardCount();
            } else if (split_data[0] === "SS") {
                var cardName = split_data[1];
                var idName = split_data[1].split(' ').join('_');
                var countName = idName + "-Count";
                var holderName = idName + "-Holder";
                var e = document.getElementById(countName);
                if (typeof(e) != 'undefined' && e != null) {
                    var str = e.innerHTML;
                    str = incrementString(str);
                    e.innerHTML = str;
                } else {
                    var newPart = `<div class="card-name-and-count" id=`;
                    newPart += holderName;
                    newPart += `><div id=`;
                    newPart += idName;
                    newPart += ` class="no-break">`;
                    newPart += cardName;
                    newPart += `</div><div id=`;
                    newPart += idName + "-Count";
                    newPart += ` class="no-break"> x1</div>`
                    newPart += `</div>`
                    document.getElementById("signature-squad-cards").innerHTML += newPart;
                }
            } else if (split_data[0] === "Synapse"){
                var synapseName = split_data[1].split(' ').join('_');
                route = "/static/images/CardImages/" + synapseName + ".jpg";
                document.getElementById('synapse-card').innerHTML = `<img id=` + synapseName + ` src=` + route + ` class="db-image">`
            } else if (split_data[0] === "Pledge") {
                var pledgeName = split_data[1].split(' ').join('_');
                route = "/static/images/CardImages/" + pledgeName + ".jpg";
                document.getElementById('pledge-card').innerHTML = `<img id=` + pledgeName + ` src=` + route + ` class="db-image">`
            } else if (split_data[0] === "Army"){
                var cardName = split_data[1];
                var idName = split_data[1].split(' ').join('_');
                var countName = idName + "-Count";
                var holderName = idName + "-Holder";
                var e = document.getElementById(countName);
                var max_copies = "3";
                if (idName === "Immature_Squig") {
                    max_copies = "6";
                }
                if (typeof(e) != 'undefined' && e != null) {
                    var str = e.innerHTML;
                    if (str[2] !== max_copies) {
                        str = incrementString(str);
                        e.innerHTML = str;
                        cardCount = cardCount + 1;
                        updateCardCount();
                    }
                } else {
                    var newPart = `<div class="card-name-and-count" id=`;
                    newPart += holderName;
                    newPart += `><div id=`;
                    newPart += idName;
                    newPart += ` class="no-break">`;
                    newPart += cardName;
                    newPart += `</div><div id=`;
                    newPart += idName + "-Count";
                    newPart += ` class="no-break"> x1</div><input id=`;
                    newPart += idName + "-Increase";
                    newPart += ` type="button" value="+" onclick="incrementCount(this.id);"><input id=`;
                    newPart += idName + "-Decrease";
                    newPart += ` type="button" value="-" onclick="decreaseCount(this.id);">`
                    newPart += `</div>`
                    document.getElementById("army-cards").innerHTML += newPart;
                    cardCount = cardCount + 1;
                    updateCardCount();
                }
            } else if (split_data[0] === "Support"){
                var cardName = split_data[1];
                if (split_data[1] === "'idden Base") {
                    split_data[1] = "idden Base";
                    card_name = "'idden Base";
                }
                var idName = split_data[1].split(' ').join('_');
                var countName = idName + "-Count";
                var holderName = idName + "-Holder";
                var e = document.getElementById(countName);
                if (typeof(e) != 'undefined' && e != null) {
                    var str = e.innerHTML;
                    if (str[2] !== "3") {
                        str = incrementString(str);
                        e.innerHTML = str;
                        cardCount = cardCount + 1;
                        updateCardCount();
                    }
                } else {
                    var newPart = `<div class="card-name-and-count" id=`;
                    newPart += holderName;
                    newPart += `><div id=`;
                    newPart += idName;
                    newPart += ` class="no-break">`;
                    newPart += cardName;
                    newPart += `</div><div id=`;
                    newPart += idName + "-Count";
                    newPart += ` class="no-break"> x1</div><input id=`;
                    newPart += idName + "-Increase";
                    newPart += ` type="button" value="+" onclick="incrementCount(this.id);"><input id=`;
                    newPart += idName + "-Decrease";
                    newPart += ` type="button" value="-" onclick="decreaseCount(this.id);">`
                    newPart += `</div>`
                    document.getElementById("support-cards").innerHTML += newPart;
                    cardCount = cardCount + 1;
                    updateCardCount();
                }
            } else if (split_data[0] === "Attachment") {
                var cardName = split_data[1];
                var idName = split_data[1].split(' ').join('_');
                var countName = idName + "-Count";
                var holderName = idName + "-Holder";
                var e = document.getElementById(countName);
                if (typeof(e) != 'undefined' && e != null) {
                    var str = e.innerHTML;
                    if (str[2] !== "3") {
                        str = incrementString(str);
                        e.innerHTML = str;
                        cardCount = cardCount + 1;
                        updateCardCount();
                    }
                } else {
                    var newPart = `<div class="card-name-and-count" id=`;
                    newPart += holderName;
                    newPart += `><div id=`;
                    newPart += idName;
                    newPart += ` class="no-break">`;
                    newPart += cardName;
                    newPart += `</div><div id=`;
                    newPart += idName + "-Count";
                    newPart += ` class="no-break"> x1</div><input id=`;
                    newPart += idName + "-Increase";
                    newPart += ` type="button" value="+" onclick="incrementCount(this.id);"><input id=`;
                    newPart += idName + "-Decrease";
                    newPart += ` type="button" value="-" onclick="decreaseCount(this.id);">`
                    newPart += `</div>`
                    document.getElementById("attachment-cards").innerHTML += newPart;
                    cardCount = cardCount + 1;
                    updateCardCount();
                }
            } else if (split_data[0] === "Event"){
                var cardName = split_data[1];
                var idName = split_data[1].split(' ').join('_');
                var countName = idName + "-Count";
                var holderName = idName + "-Holder";
                var e = document.getElementById(countName);
                if (typeof(e) != 'undefined' && e != null) {
                    var str = e.innerHTML;
                    if (str[2] !== "3") {
                        str = incrementString(str);
                        e.innerHTML = str;
                        cardCount = cardCount + 1;
                        updateCardCount();
                    }
                } else {
                    var newPart = `<div class="card-name-and-count" id=`;
                    newPart += holderName;
                    newPart += `><div id=`;
                    newPart += idName;
                    newPart += ` class="no-break">`;
                    newPart += cardName;
                    newPart += `</div><div id=`;
                    newPart += idName + "-Count";
                    newPart += ` class="no-break"> x1</div><input id=`;
                    newPart += idName + "-Increase";
                    newPart += ` type="button" value="+" onclick="incrementCount(this.id);"><input id=`;
                    newPart += idName + "-Decrease";
                    newPart += ` type="button" value="-" onclick="decreaseCount(this.id);">`
                    newPart += `</div>`
                    document.getElementById("event-cards").innerHTML += newPart;
                    cardCount = cardCount + 1;
                    updateCardCount();
                }
            } else {
                // document.querySelector('#chat-log').value += (data.message + '\n');
            }
        };

    function addSavedDeck() {
        document.getElementById("chat-log").value = "";
        const name = document.getElementById("name-deck").value;
        document.getElementById("chat-log").value += name;
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n"
        const warlord_name = document.getElementById("warlord-card").children[0].id;
        document.getElementById("chat-log").value += warlord_name.split('_').join(' ');
        document.getElementById("chat-log").value += "\n{AUTOMAIN}";
        var e = document.getElementById("ally");
        if (e.selectedIndex != -1) {
            var text = e.options[e.selectedIndex].text;
            if (text !== "") {
                document.getElementById("chat-log").value += " (" + text + ")";
            }
        }
        const pledge_name = document.getElementById("pledge-card").children[0].id;
        document.getElementById("chat-log").value += "\n"
        if (pledge_name != "EmptyPledge") {
            document.getElementById("chat-log").value += pledge_name.split('_').join(' ');
            document.getElementById("chat-log").value += "\n"
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n"
        document.getElementById("chat-log").value += "Signature Squad\n\n";
        var elements = document.getElementById("signature-squad-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }
            card_name = count + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Army\n\n";
        var elements = document.getElementById("army-cards").children;
        cardCount = 8;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
            cardCount = cardCount + Number(count.charAt(0));
            console.log(count)
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Support\n\n";
        var elements = document.getElementById("support-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
            cardCount = cardCount + Number(count.charAt(0));
        }
        document.getElementById("chat-log").value += "----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Synapse\n\n";
        const synapse_name = document.getElementById("synapse-card").children[0].id;
        if (synapse_name != "Cardback") {
            document.getElementById("chat-log").value += "1x " + synapse_name.split('_').join(' ');
        }
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Attachment\n\n";
        var elements = document.getElementById("attachment-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
            cardCount = cardCount + Number(count.charAt(0));
        }
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Event\n\n";
        var elements = document.getElementById("event-cards").children;
        var text = "";
        for (i = 0; i < elements.length; i++) {
            var collection = elements[i].children;
            var count = "";
            var card_name = "";
            for (j = 0; j < collection.length; j++) {
                var id = collection[j].id;
                var trail = "";
                if (id.length > 5) {
                    trail = id.slice(-6);
                    console.log(trail);
                }
                if (trail === "-Count") {
                    count = collection[j].innerHTML;
                    count = count.split('').reverse().join('');
                } else if (trail === "crease") {

                } else {
                    card_name = collection[j].id;
                }
                //console.log(count);
                //console.log(card_name);
                //console.log(collection[j].id);
            }

            card_name = count + card_name.split('_').join(' ');
            document.getElementById("chat-log").value += card_name + "\n";
            cardCount = cardCount + Number(count.charAt(0));
        }
        updateCardCount();
        document.getElementById("chat-log").value += "\n----------------------------------------------------------------------\n";
        document.getElementById("chat-log").value += "Planet\n\n";
    }

    function loadSavedDeck(deck_name) {
        decksSocket.send(JSON.stringify({
                'message': ("LOAD DECK/" + deck_name.split('-').join(' '))
        }));
    }

    function deleteSavedDeck(deck_name) {
        var button_delete = document.getElementById(deck_name);
        button_delete.style.display = "None";
        deck_name = deck_name.replace("-delete", "");
        var container_name = deck_name + "-container";
        var container_deck = document.getElementById(container_name);
        container_deck.style.display = "None";
        var button_deck = document.getElementById(deck_name);
        button_deck.style.display = "None";
        decksSocket.send(JSON.stringify({
                'message': ("DELETE DECK/" + deck_name.split('-').join(' '))
        }));
    }

    function sendDeck() {
        var chat_holder = document.querySelector('#chat-log').value;
        decksSocket.send(JSON.stringify({
                'message': ("SEND DECK/" + chat_holder)
        }));
    }

    function sendDeckAuto() {
        addSavedDeck();
        sendDeck();
    }

    decksSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
    document.querySelector('#chat-message-input-2').focus();
        document.querySelector('#chat-message-input-2').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit-2').click();
            }
        };

    document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            decksSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    document.querySelector('#chat-message-submit-2').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input-2');
            const message = messageInputDom.value;
            decksSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

    function showDeckImport() {
        var target_id = "manual-deck-import";
        var x = document.getElementById(target_id);
        if (x.style.display !== "block") {
            x.style.display = "block";
            console.log("Set to block")
        } else {
            x.style.display = "none";
            console.log("Set to none")
        }
    }
</script>
{% endblock %}
