{% extends "base.html" %}

{% block title %}Lobby{% endblock %}

{% block content %}
<style>
        .box {
            height: 60px;
            background-color: lightblue;
            border: 2px solid blue;
            padding: 10px;
            margin: 10px;
            display:flex;
            text-align: center;
            justify-content:center;
            overflow-x:auto;
        }
        #lobby-container {
            position:relative;
            margin:auto;
            border-style: double;
            border-color: lightblue;
            border-width: 5px;
            background: rgba(47, 40, 153, 0.3);
            width:300px;
            max-width:300px;
            min-height:10vh;
            grid-area: lobbies;
        }
        #game-settings-container {
            position:relative;
            margin:auto;
            border-style: double;
            border-color: lightblue;
            border-width: 5px;
            background: rgba(47, 40, 153, 0.3);
            width:200px;
            max-width:200px;
            min-height:10vh;
            grid-area: settings;
        }
        #add_to_me {
            position:relative;
            margin:auto;
        }
        #add_players_to_me {
            background-color: lightblue;
            border: 2px solid blue;
            padding: 10px;
            margin: 10px;
        }
        #create-lobby-submit {
            position:relative;
            margin:auto;
            grid-area: create-lobby;
        }
        #decks-container {
            position:relative;
            margin:auto;
            border-style: double;
            border-color: lightblue;
            border-width: 5px;
            background: rgba(47, 40, 153, 0.3);
            max-width:240px;
            min-height:10vh;
            grid-area: decks-area;
            max-height: 60vh;
            overflow-y: scroll;
        }
        #available, #decks-header {
            position:relative;
            margin:auto;
        }
        #whole-container {
            position: relative;
            display: grid;
            grid-template-areas:
            "create-lobby settings decks-area"
            "lobbies settings decks-area";
            text-align: center;
            grid-template-rows: 10px auto;
            gap: 20px;
        }
        #flex-container {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        .saved-deck-box {
            width: 200px;
            height: 70px;
            background-color: lightblue;
            border: 2px solid blue;
            margin: 10px;
            display: flex;
            flex-direction: row;
            word-break: break-all;
        }
        .chosen-deck {
            background-color: purple;
            border: 2px solid yellow;
        }
        .Card-saved-box {
            position: relative;
            width: 50px;
            height: 70px;
        }
        #disconnected-warning {
            display: none;
            background-color: orange;
            opacity: 0.9;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border-width: 2px;
            border-color: orangered;
            border-style: double;
        }
</style>
<div id="disconnected-warning">
    <h1 style="color: red;">Warning: You have been disconnected!</h1><h2>You will need to refresh the page.</h2>
</div>
<div id="flex-container">
    <div id="whole-container">
        <input id="create-lobby-submit" type="button" value="Create lobby">
        <div id="lobby-container">
            <div id="players-in-lobby">
                <h2 style="background-color:aliceblue">Players in Lobby</h2>
                <div id="add_players_to_me">
                    <p></p>
                </div>
            </div>
            <h2 id="available" style="background-color:aliceblue">Available Lobbies</h2>
            <div id="add_to_me">
                <p></p>
            </div>
            <h2 id="active" style="background-color:aliceblue">Active Games</h2>
            <div id="add_spec_to_me">
                <p></p>
            </div>
        </div>
        <div id="game-settings-container-container">
            <div id="game-settings-container">
                <h2>Game Settings</h2>
                <input id="cb" type="checkbox" style="float: left; margin-top: 5px;">
                <div style="margin-left: 25px; text-align: left;">
                 Private
                </div>
                <br>
                <div style="display: inline">
                    <div style="float:left">
                        First Player:
                    </div>
                    <select id="first-player" style="float:left">
                        <option value="Random" selected="selected">Random</option>
                        <option value="Yourself">Yourself</option>
                        <option value="Opponent">Opponent</option>
                    </select>
                </div>
                <br>
                <br>
                <select id="sector" style="float: left; margin-top: 0px;">
                    <option value="Traxis" selected="selected">Traxis</option>
                    <option value="Gardis">Gardis</option>
                    <option value="Veros">Veros</option>
                    <option value="The Breach">The Breach</option>
                    <option value="Nepthis">Nepthis</option>
                    <option value="Sargos">Sargos</option>
                    <option value="Monn-Rai">Monn-Rai</option>
                    <option value="Random">Random</option>
                </select>
                <div style="margin-left: 25px; text-align: left;">
                 Sector
                </div>
                <br>
                <input id="apokacb" type="checkbox" style="float: left; margin-top: 5px;">
                <div style="margin-left: 25px; text-align: left;">
                 Apoka Errata
                </div>
                <br>
                <input id="blackstonecb" type="checkbox" style="float: left; margin-top: 5px;">
                <div style="margin-left: 25px; text-align: left;">
                 Custom Errata
                </div>
                <br>
                <input id="aiopponent" type="checkbox" style="float: left; margin-top: 5px;">
                <div style="margin-left: 25px; text-align: left;">
                 AI Opponent (Conqueror, v0.1)
                </div>
                <br>
            </div>
        </div>
        <div id="decks-container-container">
            <div>Faction Filter</div>
            <label for="faction-filter"></label>
            <select id="faction-filter" name="faction-filter" onchange="clearUpdateLoad()">
                <option value=""></option>
                <option value="Space Marines">Space Marines</option>
                <option value="Astra Militarum">Astra Militarum</option>
                <option value="Orks">Orks</option>
                <option value="Chaos">Chaos</option>
                <option value="Dark Eldar">Dark Eldar</option>
                <option value="Eldar">Eldar</option>
                <option value="Tau">Tau</option>
                <option value="Tyranids">Tyranids</option>
                <option value="Necrons">Necrons</option>
            </select>
            <div>Legality Filter</div>
            <label for="legality-filter"></label>
            <select id="legality-filter" name="legality-filter" onchange="clearUpdateLoad()">
                <option value="All">All</option>
                <option value="FFG">FFG Only</option>
                <option value="Apoka">Apoka</option>
            </select>
            <div id="decks-container">
                <h2 id="decks-header">Decks</h2>
                <h2>No Decks</h2>
            </div>
            <button id="load-more" onclick="loadMore()">Load More</button>
        </div>
    </div>
</div>
<script>
	var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        const lobbySocket = new WebSocket(
            ws_scheme
	        + '://'
            + window.location.host
            + '/ws/play/'
        );

        var deck_name = "";

        var spec_count = 0;
        var current_deck_amount = 0;
        var preferred_faction = "";
        var preferred_legality = "";

        function clearUpdateLoad() {
            clearDecks();
            updatePreference();
            loadMore();
        }

        function updatePreference() {
            var e = document.getElementById("faction-filter");
            preferred_faction = e.value;
            var f = document.getElementById("legality-filter");
            preferred_legality = f.value;
        }

        function clearDecks() {
            document.getElementById("decks-container").innerHTML = `<h2 id="decks-header">Decks</h2>`;
            current_deck_amount = 0;
        }

        lobbySocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_string = data.message.split("/");
            if (data.message === "Logged out")
            {
                addAnonymousError()
            } else if (data.message === "Already in lobby") {
                addAlreadyLobbiedError()
            } else if (data.message === "Delete lobby") {
                deleteLobby()
            } else if (split_string[0] === "Move to game") {
                moveToGame(split_string[1], split_string[2], split_string[3])
            } else if (split_string[0] === "Delete spec") {
                deleteSpec()
            } else if (split_string[0] === "Create spec") {
                addSpec(split_string[1], split_string[2], split_string[3]);
            } else if (split_string[0] === "Send Deck") {
                addDeck(split_string[1], split_string[2], split_string[3]);
            } else if (split_string[0] === "players_in_lobby") {
                document.getElementById("add_players_to_me").innerHTML = ``;
                var usernames = split_string[1].split("|");
                for (var i = 0; i < usernames.length; i++) {
                    document.getElementById("add_players_to_me").innerHTML += `<p>` + usernames[i] + `</p>`;
                }
            } else {
                addLobby(split_string[1], split_string[2], split_string[3], split_string[4], split_string[5], split_string[6], split_string[9])
            }
        };

        function addDeck(username, deck_name, cardName) {
            if (username === "{{ user.username }}") {
                if (current_deck_amount === 0) {
                    document.getElementById("decks-container").innerHTML = `<h2 id="decks-header">Decks</h2>`;
                }
                current_deck_amount += 1;
                var message = "";
                var route_text = "/static/images/CardImages/" + cardName + ".jpg";
                message = `<div id="` + deck_name + `" class="saved-deck-box" onclick="selectDeck(this.id)">`;
                message += `<img src=` + route_text + ` alt=` + route_text + ` class="Card-saved-box" />`;
                message += `<p>` + deck_name + `</p>`;
                message += `</div>`;
                document.getElementById("decks-container").innerHTML += message;
            }
        }

        function selectDeck(elem_id) {
            elements = document.querySelectorAll('.saved-deck-box');
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].classList.contains('chosen-deck') ) {
                    elements[i].classList.remove('chosen-deck');
                }
            }
            elem = document.getElementById(elem_id);
            elem.classList.add("chosen-deck");
            deck_name = elem_id;
            lobbySocket.send(JSON.stringify({
                'message': "Select Deck" + "/" + elem_id
            }));
        }

        document.querySelector('#create-lobby-submit').onclick = function(e) {
            const private = document.getElementById("cb").checked;
            const apoka = document.getElementById("apokacb").checked;
            const blackstone = document.getElementById("blackstonecb").checked;
            const aiopponent = document.getElementById("aiopponent").checked;
            var errata_string = "None";
            if (apoka) {
                errata_string = "Apoka";
            }
            if (blackstone) {
                errata_string = "Blackstone";
            }
            const sector = document.getElementById("sector").value;
            const first_player = document.getElementById("first-player").value;
            lobbySocket.send(JSON.stringify({
                'message': "Create lobby" + "/" + private.toString() + "/" + errata_string + "/" + sector + "/" + deck_name + "/" + first_player + "/" + aiopponent
            }));
        };

        function joinLobby(clicked_id) {
            lobbySocket.send(JSON.stringify({
                'message': "Join lobby/" + clicked_id + "/" + deck_name
            }));
        }

        function loadMore() {
            lobbySocket.send(JSON.stringify({
                'message': "Load More/" + current_deck_amount.toString() + "/" + preferred_faction + "/" + preferred_legality
            }));
        }

        function leaveLobby(clicked_id) {
            lobbySocket.send(JSON.stringify({
                'message': "Leave lobby/" + clicked_id
            }));
        }

        function startGame(clicked_id) {
            lobbySocket.send(JSON.stringify({
                'message': "Start game/" + clicked_id
            }));
        }

        function moveToGame(game_id, oneName, twoName) {
            if (oneName == "{{ user.username }}" || twoName == "{{ user.username }}") {
                target = "/play/" + game_id;
                location.href = target;
            }
        }

        function joinGame(game_id) {
            target = "/play/" + game_id;
            location.href = target;
        }

        function removeLobby() {
            lobbySocket.send(JSON.stringify({
                'message': "Remove lobby"
            }));
        }

        function addSpec(nameOfPlayerOne, nameOfPlayerTwo, gameID) {
            document.getElementById("add_spec_to_me").innerHTML +=
                `<div class="box">` + nameOfPlayerOne + `<br>VS<br>`+ nameOfPlayerTwo + `</div>`;
            document.getElementById("add_spec_to_me").innerHTML +=
                    `<button id=` + gameID + ` onclick="joinGame(this.id)">
                    Join Lobby
                    </button>`;
        }

        function playSound(url) {
            var ourAudio = document.createElement('audio'); // Create a audio element using the DOM
            ourAudio.style.display = "none"; // Hide the audio element
            ourAudio.src = url; // Set resource to our URL
            ourAudio.autoplay = true; // Automatically play sound
            ourAudio.onended = function() {
                this.remove(); // Remove when played.
            };
            document.body.appendChild(ourAudio);
        }

        function addLobby(nameOfPlayerOne, nameOfPlayerTwo, private, apoka, sector, time, aiHash) {
            // Create unique ID for this lobby to prevent duplicates
            var lobbyId = "lobby_" + nameOfPlayerOne + "_" + (aiHash || "nohash");
            
            // Remove existing lobby with this ID if it exists
            var existingLobby = document.getElementById(lobbyId);
            if (existingLobby) {
                existingLobby.remove();
            }
            
            var stringToAdd = "";
            stringToAdd = `<div id="` + lobbyId + `"><div class="box">` + nameOfPlayerOne + `<br>VS<br>`+ nameOfPlayerTwo + `
                </div><details><summary>Settings</summary>`;
            if (private === "Private") {
                stringToAdd += "Private";
            } else {
                stringToAdd += "Public";
            }
            stringToAdd += "<br>";
            if (apoka === "Apoka") {
                stringToAdd += "Apoka Errata";
            } else if (apoka === "Blackstone") {
                stringToAdd += "Blackstone Errata";
            } else {
                stringToAdd += "No Errata";
            }
            stringToAdd += "<br>";
            stringToAdd += sector + " Sector";
            stringToAdd += "<br>";
            stringToAdd += "Time Created:<br>" + time;
            if (aiHash && aiHash.length > 0 && nameOfPlayerOne === "{{ user.username }}") {
                stringToAdd += "<br><strong>AI Join Code:</strong><br><code style='font-size: 1.2em; background: #e0e0e0; padding: 4px 8px; border-radius: 4px;'>" + aiHash + "</code>";
            }
            stringToAdd += "</details>";
            if (nameOfPlayerTwo === "" && nameOfPlayerOne !== "{{ user.username }}") {
                stringToAdd += `<button id=` + nameOfPlayerOne + ` onclick="joinLobby(this.id)">
                    Join Lobby
                    </button>`;
            } else if (nameOfPlayerTwo !== "" && nameOfPlayerOne === "{{ user.username }}") {
                playSound("/static/joinsound.wav");
            } else if (nameOfPlayerTwo === "{{ user.username }}") {
                stringToAdd += `<button id=` + nameOfPlayerOne + ` onclick="leaveLobby(this.id)">
                    Leave Lobby
                    </button>`;
            }
            if (nameOfPlayerOne === "{{ user.username }}") {
                stringToAdd += `<button onclick="removeLobby()">
                    Remove Lobby
                    </button>`;
            }
            if (nameOfPlayerOne === "{{ user.username }}" && nameOfPlayerTwo !== "") {
                stringToAdd += `<button id=` + nameOfPlayerOne + ` onclick="startGame(this.id)">
                    Start Game
                    </button>`;
            }
            stringToAdd += `</div>`;
            document.getElementById("add_to_me").innerHTML += stringToAdd;
        }

        function addAnonymousError() {
            document.getElementById("add_to_me")
                .innerHTML +=
                `<h3>Not logged in</h3>`;
        }

        function deleteLobby() {
            document.getElementById("add_to_me")
                .innerHTML =
                `<h3></h3>`;
        }

        function deleteSpec() {
            document.getElementById("add_spec_to_me")
                .innerHTML =
                `<h3></h3>`;
        }

        function addAlreadyLobbiedError() {
            document.getElementById("add_to_me")
                .innerHTML +=
                `<h3>Already Lobbied</h3>`;
        }

        lobbySocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            document.getElementById("disconnected-warning").style.display = "block";
        };
</script>
{% endblock %}
