{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'play_style.css' %}">
<div class="box">
    <div id="chat-log">Use "/loaddeck/{deck_name}" to load a deck<br></div><br>
    <input id="chat-message-input" type="text"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <div id="info-box">
        <p class="info-box-sub">Test</p>
    </div>
    <div id="in-play-box">
        <div id="player-1-cards-planet-0" class="player-1-in-play">
            <p>P1P0</p>
        </div>
        <div id="player-1-cards-planet-1" class="player-1-in-play">
            <p>P1P1</p>
        </div>
        <div id="player-1-cards-planet-2" class="player-1-in-play">
            <p>P1P2</p>
        </div>
        <div id="player-1-cards-planet-3" class="player-1-in-play">
            <p>P1P3</p>
        </div>
        <div id="player-1-cards-planet-4" class="player-1-in-play">
            <p>P1P4</p>
        </div>
        <div id="player-1-cards-planet-5" class="player-1-in-play">
            <p>P1P5</p>
        </div>
        <div id="player-1-cards-planet-6" class="player-1-in-play">
            <p>P1P6</p>
        </div>
        <div class="planet-div" id="div-PLANETS-0">
            <p>PLANET0</p>
        </div>
        <div class="planet-div" id="div-PLANETS-1">
            <p>PLANET1</p>
        </div>
        <div class="planet-div" id="div-PLANETS-2">
            <p>PLANET2</p>
        </div>
        <div class="planet-div" id="div-PLANETS-3">
            <p>PLANET3</p>
        </div>
        <div class="planet-div" id="div-PLANETS-4">
            <p>PLANET4</p>
        </div>
        <div class="planet-div" id="div-PLANETS-5">
            <p>PLANET5</p>
        </div>
        <div class="planet-div" id="div-PLANETS-6">
            <p>PLANET6</p>
        </div>
        <div id="player-2-cards-planet-0" class="player-2-in-play">
            <p>P2P0</p>
        </div>
        <div id="player-2-cards-planet-1" class="player-2-in-play">
            <p>P2P1</p>
        </div>
        <div id="player-2-cards-planet-2" class="player-2-in-play">
            <p>P2P2</p>
        </div>
        <div id="player-2-cards-planet-3" class="player-2-in-play">
            <p>P2P3</p>
        </div>
        <div id="player-2-cards-planet-4" class="player-2-in-play">
            <p>P2P4</p>
        </div>
        <div id="player-2-cards-planet-5" class="player-2-in-play">
            <p>P2P5</p>
        </div>
        <div id="player-2-cards-planet-6" class="player-2-in-play">
            <p>P2P6</p>
        </div>
    </div>
    <img src="/static/images/CardImages/Nazdreg.jpg" alt="didnt work" id="LargeHelperCard">
    <fieldset id="current-hand-player-1">
        <legend>CARDS P1: 0 CARDS</legend>
    </fieldset>
    <fieldset id="current-hand-player-2">
        <legend>CARDS P2: 0 CARDS</legend>
    </fieldset>
    <div id="current-deck-player-1">
        <img src="/static/images/CardImages/Cardback.jpg" alt="didnt work" id="deck-p1" class="Card">
    </div>
    <div id="current-deck-player-2">
        <img src="/static/images/CardImages/Cardback.jpg" alt="didnt work" id="deck-p2" class="Card">
    </div>
    <div id="headquarters-player-1">
        <p>Test hq p1</p>
    </div>
    <div id="headquarters-player-2">
        <p>Test hq p2</p>
    </div>
    <div id ="resources-player-1">
        <p>Resources p1</p>
    </div>
    <div id ="resources-player-2">
        <p>Resources p2</p>
    </div>
    <div id ="pass-player-1">
        <input id="pass-P1" type="button" value="PASS P1" onclick="testImageButton(this.id);">
    </div>
    <div id ="pass-player-2">
        <input id="pass-P2" type="button" value="PASS P2" onclick="testImageButton(this.id);">
    </div>
    <div id="request-action-div">
        <input id="action-button" type="button" value="ACTION" onclick="testImageButton(this.id);">
    </div>
    <div id="victory-display-player-1">
        <p></p>
    </div>
    <div id="victory-display-player-2">
        <p></p>
    </div>
        <div id="current-discard-player-1">
        <img src="/static/images/CardImages/Nazdreg.jpg" alt="didnt work" id="discard-p1" class="Card" onclick="showDiscard(this.id);">
    </div>
    <div id="current-discard-player-2">
        <img src="/static/images/CardImages/Nazdreg.jpg" alt="didnt work" id="discard-p2" class="Card" onclick="showDiscard(this.id);">
    </div>
    <div id="expanded-DISCARD_PILE-1">
        <div id="expanded-discard-1-settings">
            <input type="image" id="IN_DISCARD/1/0" src="/static/images/CardImages/Nazdreg.jpg" alt="didnt work" class="Card" onclick="testImageButton(this.id);">
        </div>
    </div>
    <div id="expanded-DISCARD_PILE-2">
        <div id="expanded-discard-2-settings">
            <input type="image" id="IN_DISCARD/2/0" src="/static/images/CardImages/Nazdreg.jpg" alt="didnt work" class="Card" onclick="testImageButton(this.id);">
        </div>
    </div>
    <div id="search-collapse" draggable="true" class="draggable">
        <details>
        <summary>This is what you want to show before expanding</summary>
        <input type="image" src="/static/images/CardImages/Nazdreg.jpg" alt="bugged" id="Search-0" onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
        </details>
    </div>
</div>
{{ game_id|json_script:"game-id" }}
<script>
    const roomName = JSON.parse(document.getElementById('game-id').textContent);
	var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        const gameSocket = new WebSocket(
	    ws_scheme
            + '://'
            + window.location.host
            + '/ws/play/'
            + roomName
            + '/'
        );

        document.querySelector('#chat-log').value += ('Use \"/loaddeck/{deck_name}\" to load a deck\n');

        cardHeight = 100;
        cardWidth = 63;
        var inPlayPlanets = ["true", "true", "true", "true", "true", "true", "true"];

        function playSound(url) {
            console.log(url);
            var ourAudio = document.createElement('audio'); // Create a audio element using the DOM
            ourAudio.style.display = "none"; // Hide the audio element
            ourAudio.src = url; // Set resource to our URL
            ourAudio.autoplay = true; // Automatically play sound
            ourAudio.onended = function() {
                this.remove(); // Remove when played.
            };
            document.body.appendChild(ourAudio);
        }

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_data = data.message.split("/");
            if (split_data[0] === "GAME_INFO") {
                if (split_data[1] === "PLANETS") {
                    var newPlanetsArray = [];
                    var had_in_play_planet = "false";
                    var outOfPlayPlanets = [];
                    for (var i = 2; i < split_data.length; i++) {
                        var card_data_split = split_data[i].split("|");
                        var card_name = card_data_split[0];
                        var string_id = (i-2).toString();
                        if (card_name === "CardbackRotated") {
                            if (had_in_play_planet === "false") {
                                outOfPlayPlanets.push(string_id);
                                newPlanetsArray.push("false");
                            } else {
                                newPlanetsArray.push("true");
                            }
                        } else {
                            had_in_play_planet = "true";
                            newPlanetsArray.push("true");
                        }
                        var container_id = "div-PLANETS-" + string_id;
                        string_id = "PLANETS/" + string_id;
                        card_name = card_name.split(' ').join('_');
                        var route_text = "/static/images/PlanetImages/" + card_name + ".jpg";
                        var element =  document.getElementById(container_id);
                        if (typeof(element) != 'undefined' && element != null)
                        {
                            document.getElementById(container_id).innerHTML = ``;
                            var full_string = `<div><input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="planet"  onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            if (card_data_split.length >= 2) {
                                if (card_data_split[1] === "I") {
                                    full_string += `<img src="/static/images/PlanetImages/InfestationToken.png" alt="bugged" class="infestation-token"></img>`;
                                }
                            }
                            if (card_data_split.length >= 3) {
                                if (card_data_split[2] !== "") {
                                    full_string += `<img src="/static/images/aiming_reticle_` + card_data_split[2] + `.png" alt="bugged" class="large-aiming-reticle"></img>`;
                                }
                            }
                            full_string += `<div class="attachments-planet-1">`;
                            var attachments_p1 = card_data_split[3];
                            if (attachments_p1 !== "") {
                                attachments_p1_data = attachments_p1.split("_")
                                for (var j = 0; j < attachments_p1_data.length; j++) {
                                    var attachment_string_id = (j).toString();
                                    var attachment_data_split = attachments_p1_data[j].split(">");
                                    var attachment_name = attachment_data_split[0];
                                    var attachment_ready = attachment_data_split[1];
                                    var attachment_class = "Planet-Attachment-Card";
                                    attachment_string_id = "ATTACHMENT/PLANETS/1/" + (i-2).toString() + "/" + attachment_string_id;
                                    var attachment_route_text = "/static/images/CardImages/" + attachment_name.split(' ').join('_') + ".jpg";
                                    var attachment_rotation = "";
                                    if (attachment_ready === "E") {
                                        attachment_class = "Exhausted-Planet-Attachment-Card";
                                        attachment_rotation = " style='transform:rotate(90deg);'"
                                    }
                                    full_string += `<input type="image" src=` + attachment_route_text + ` alt=` + attachment_route_text + ` id=` + attachment_string_id + attachment_rotation + ` onclick="testImageButton(this.id);" class=` + attachment_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                                }
                            }
                            full_string += `</div><div class="attachments-planet-2">`;
                            var attachments_p2 = card_data_split[4];
                            if (attachments_p2 !== "") {
                                attachments_p2_data = attachments_p2.split("_")
                                for (var j = 0; j < attachments_p2_data.length; j++) {
                                    var attachment_string_id = (j).toString();
                                    var attachment_data_split = attachments_p2_data[j].split(">");
                                    var attachment_name = attachment_data_split[0];
                                    var attachment_ready = attachment_data_split[1];
                                    var attachment_class = "Planet-Attachment-Card";
                                    attachment_string_id = "ATTACHMENT/PLANETS/2/" + (i-2).toString() + "/" + attachment_string_id;
                                    var attachment_route_text = "/static/images/CardImages/" + attachment_name.split(' ').join('_') + ".jpg";
                                    var attachment_rotation = "";
                                    if (attachment_ready === "E") {
                                        attachment_class = "Exhausted-Planet-Attachment-Card";
                                        attachment_rotation = " style='transform:rotate(90deg);'"
                                    }
                                    full_string += `<input type="image" src=` + attachment_route_text + ` alt=` + attachment_route_text + ` id=` + attachment_string_id + attachment_rotation + ` onclick="testImageButton(this.id);" class=` + attachment_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                                }
                            }
                            full_string += `</div></div>`;
                            document.getElementById(container_id).innerHTML = full_string;
                        }
                    }
                    var planetsChanged = "false";
                    for (var i = 0; i < inPlayPlanets.length; i++) {
                        if (inPlayPlanets[i] != newPlanetsArray[i]) {
                            planetsChanged = "true";
                        }
                    }
                    if (planetsChanged === "true") {
                        console.log("trying to change planets");
                        var new_grid_template_areas = `
                        "play10 play11 play12 play13 play14 play15 play16"
                        "planet0 planet1 planet2 planet3 planet4 planet5 planet6"
                        "play20 play21 play22 play23 play24 play25 play26"`;
                        var new_grid_template_columns = `1fr 1fr 1fr 1fr 1fr 1fr 1fr`;
                        var encountered_in_play_planet = "false";
                        var first_pos_in_play = -1;
                        for (var i = 0; i < newPlanetsArray.length; i++) {
                            if (newPlanetsArray[i] === "true") {
                                encountered_in_play_planet = "true";
                                if (first_pos_in_play === -1) {
                                    first_pos_in_play = i;
                                }
                            } else {
                                if (encountered_in_play_planet === "false") {
                                    if (i !== 6) {
                                        var element = document.getElementById("div-PLANETS-" + (i).toString());
                                        if (typeof(element) != 'undefined' && element != null)
                                        {
                                            document.getElementById("player-1-cards-planet-" + (i).toString()).remove()
                                            document.getElementById("player-2-cards-planet-" + (i).toString()).remove()
                                            document.getElementById("div-PLANETS-" + (i).toString()).remove()
                                        }
                                    }
                                }
                            }
                        }
                        if (first_pos_in_play === -1) {
                            first_pos_in_play = 6;
                        }
                        if (first_pos_in_play === 1) {
                            var new_grid_template_columns = `1fr 1fr 1fr 1fr 1fr 1fr`;
                            new_grid_template_areas = `
                            "play11 play12 play13 play14 play15 play16"
                            "planet1 planet2 planet3 planet4 planet5 planet6"
                            "play21 play22 play23 play24 play25 play26"`;
                            document.getElementById("player-1-cards-planet-1").style.maxWidth = "11vw";
                            document.getElementById("player-1-cards-planet-2").style.maxWidth = "11vw";
                            document.getElementById("player-1-cards-planet-3").style.maxWidth = "11vw";
                            document.getElementById("player-1-cards-planet-4").style.maxWidth = "11vw";
                            document.getElementById("player-1-cards-planet-5").style.maxWidth = "11vw";
                            document.getElementById("player-1-cards-planet-6").style.maxWidth = "11vw";
                            document.getElementById("player-2-cards-planet-1").style.maxWidth = "11vw";
                            document.getElementById("player-2-cards-planet-2").style.maxWidth = "11vw";
                            document.getElementById("player-2-cards-planet-3").style.maxWidth = "11vw";
                            document.getElementById("player-2-cards-planet-4").style.maxWidth = "11vw";
                            document.getElementById("player-2-cards-planet-5").style.maxWidth = "11vw";
                            document.getElementById("player-2-cards-planet-6").style.maxWidth = "11vw";
                        } else if (first_pos_in_play === 2) {
                            var new_grid_template_columns = `1fr 1fr 1fr 1fr 1fr`;
                            new_grid_template_areas = `
                            "play12 play13 play14 play15 play16"
                            "planet2 planet3 planet4 planet5 planet6"
                            "play22 play23 play24 play25 play26"`;
                            document.getElementById("player-1-cards-planet-2").style.maxWidth = "13vw";
                            document.getElementById("player-1-cards-planet-3").style.maxWidth = "13vw";
                            document.getElementById("player-1-cards-planet-4").style.maxWidth = "13vw";
                            document.getElementById("player-1-cards-planet-5").style.maxWidth = "13vw";
                            document.getElementById("player-1-cards-planet-6").style.maxWidth = "13vw";
                            document.getElementById("player-2-cards-planet-2").style.maxWidth = "13vw";
                            document.getElementById("player-2-cards-planet-3").style.maxWidth = "13vw";
                            document.getElementById("player-2-cards-planet-4").style.maxWidth = "13vw";
                            document.getElementById("player-2-cards-planet-5").style.maxWidth = "13vw";
                            document.getElementById("player-2-cards-planet-6").style.maxWidth = "13vw";
                        } else if (first_pos_in_play === 3) {
                            var new_grid_template_columns = `1fr 1fr 1fr 1fr`;
                            new_grid_template_areas = `
                            "play13 play14 play15 play16"
                            "planet3 planet4 planet5 planet6"
                            "play23 play24 play25 play26"`;
                            document.getElementById("player-1-cards-planet-3").style.maxWidth = "17vw";
                            document.getElementById("player-1-cards-planet-4").style.maxWidth = "17vw";
                            document.getElementById("player-1-cards-planet-5").style.maxWidth = "17vw";
                            document.getElementById("player-1-cards-planet-6").style.maxWidth = "17vw";
                            document.getElementById("player-2-cards-planet-3").style.maxWidth = "17vw";
                            document.getElementById("player-2-cards-planet-4").style.maxWidth = "17vw";
                            document.getElementById("player-2-cards-planet-5").style.maxWidth = "17vw";
                            document.getElementById("player-2-cards-planet-6").style.maxWidth = "17vw";
                        } else if (first_pos_in_play === 4) {
                            var new_grid_template_columns = `1fr 1fr 1fr`;
                            new_grid_template_areas = `
                            "play14 play15 play16"
                            "planet4 planet5 planet6"
                            "play24 play25 play26"`;
                            document.getElementById("player-1-cards-planet-4").style.maxWidth = "23vw";
                            document.getElementById("player-1-cards-planet-5").style.maxWidth = "23vw";
                            document.getElementById("player-1-cards-planet-6").style.maxWidth = "23vw";
                            document.getElementById("player-2-cards-planet-4").style.maxWidth = "23vw";
                            document.getElementById("player-2-cards-planet-5").style.maxWidth = "23vw";
                            document.getElementById("player-2-cards-planet-6").style.maxWidth = "23vw";
                        } else if (first_pos_in_play === 5) {
                            var new_grid_template_columns = `1fr 1fr`;
                            new_grid_template_areas = `
                            "play15 play16"
                            "planet5 planet6"
                            "play25 play26"`;
                            document.getElementById("player-1-cards-planet-5").style.maxWidth = "35vw";
                            document.getElementById("player-1-cards-planet-6").style.maxWidth = "35vw";
                            document.getElementById("player-2-cards-planet-5").style.maxWidth = "35vw";
                            document.getElementById("player-2-cards-planet-6").style.maxWidth = "35vw";
                        } else if (first_pos_in_play === 6) {
                            var new_grid_template_columns = `1fr`;
                            new_grid_template_areas = `
                            "play16"
                            "planet6"
                            "play26"`;
                            document.getElementById("player-1-cards-planet-6").style.maxWidth = "70vw";
                            document.getElementById("player-2-cards-planet-6").style.maxWidth = "70vw";
                        }
                        inPlayPlanets = newPlanetsArray;
                        console.log("about to apply");
                        document.getElementById("in-play-box").style.gridTemplateColumns = new_grid_template_columns;
                        document.getElementById("in-play-box").style.gridTemplateAreas = new_grid_template_areas;
                        console.log("Hopefully changed planets");
                    }
                } else if (split_data[1] === "INFO_BOX") {
                    document.getElementById('info-box').innerHTML = ``;
                    var color = "red";
                    if (split_data[2] === "{{ user.username }}") {
                        color = "green";
                    }
                    for (var i = 3; i < split_data.length; i++) {
                        var full_string = `<p class="info-box-sub" style="color:` + color + `;">` + split_data[i] + `</p>`
                        document.getElementById("info-box").innerHTML += full_string;
                    }
                } else if (split_data[1] === "VICTORY_DISPLAY") {
                    var target_victory_display_id = "victory-display-player-" + split_data[2];
                    document.getElementById(target_victory_display_id).innerHTML = ``;
                    for (var i = 3; i < split_data.length; i++) {
                        var card_name = split_data[i];
                        var string_id = (i-3).toString();
                        string_id = "VICTORY_DISPLAY/" + split_data[2] + "/" + string_id;
                        card_name = card_name.split(' ').join('_');
                        var route_text = "/static/images/PlanetImages/" + card_name + ".jpg";
                        var display_class = "planet-in-victory-display-" + split_data[2];
                        var full_string = `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class=` + display_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`;
                        document.getElementById(target_victory_display_id).innerHTML += full_string;
                    }
                } else if (split_data[1] === "DECK") {
                    var target_deck_id = "current-deck-player-" + split_data[2];
                    var card_name = split_data[3].split(' ').join('_')
                    document.getElementById(target_deck_id).innerHTML =
                    `<img src="/static/images/CardImages/` + card_name + `.jpg"
                    alt="didnt work" id="deck-p1" class="Card">`;

                } else if (split_data[1] === "DISCARD") {
                    var target_discard_pile_id = "current-discard-player-" + split_data[2];
                    document.getElementById(target_discard_pile_id).innerHTML = ``;
                    var target_expanded_discard = "expanded-discard-" + split_data[2] + "-settings";
                    document.getElementById(target_expanded_discard).innerHTML = ``;
                    if (split_data.length >= 4) {
                        for (var i = 3; i < split_data.length; i++) {
                            var card_data_split = split_data[i].split("|");
                            var card_name = card_data_split[0];
                            var string_id = (i-3).toString();
                            string_id = "IN_DISCARD/" + split_data[2] + "/" + string_id;
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                            var full_string = `<div class="Card-div">`;
                            full_string += `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` class="Card" onmouseover="changeDef(this.src)" onclick="testImageButton(this.id);" onmouseout="changeDefOut()">`;
                            if (card_data_split[1] !== "") {
                                full_string += `<img src="/static/images/aiming_reticle_` + card_data_split[1] + `.png" alt="bugged" class="aiming-reticle"></img>`;
                            }
                            full_string += `</div>`;
                            document.getElementById(target_expanded_discard).innerHTML += full_string;
                        }
                        var card_name = split_data[split_data.length - 1].split("|")[0];
                        var string_id = "DISCARD_PILE/" + split_data[2];
                        card_name = card_name.split(' ').join('_');
                        var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                        var full_string = `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` class="Card" onmouseover="changeDef(this.src)" onclick="showDiscard(this.id);" onmouseout="changeDefOut()">`;
                        document.getElementById(target_discard_pile_id).innerHTML += full_string;
                    }
                } else if (split_data[1] === "RESOURCES") {
                    if (split_data[2] === "1") {
                        document.getElementById('resources-player-1').innerHTML = `<h1>` + split_data[3] + `</h1>`;
                    } else if (split_data[2] === "2") {
                        document.getElementById('resources-player-2').innerHTML = `<h1>` + split_data[3] + `</h1>`;
                    }
                } else if (split_data[1] === "IN_PLAY") {
                    var target_planet_id = "player-" + split_data[2] + "-cards-planet-" + split_data[3];
                    var element =  document.getElementById(target_planet_id);
                    if (typeof(element) != 'undefined' && element != null)
                    {
                        document.getElementById(target_planet_id).innerHTML = ``;
                        for (var i = 4; i < split_data.length; i++) {
                            var card_data_split = split_data[i].split("|");
                            var card_name = card_data_split[0];
                            var is_ready = card_data_split[1];
                            var damage = card_data_split[2];
                            var hale = card_data_split[3];
                            var string_id = (i-4).toString();
                            var card_class = "Card";
                            string_id = "IN_PLAY/" + split_data[2] + "/" + split_data[3] + "/" + string_id;
                            card_name = card_name.split(' ').join('_');
                            if (hale === "B") {
                                card_name += "_bloodied";
                            }
                            var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                            var rotation = "";
                            var full_string = `<div class="Card-div">`;
                            if (is_ready === "E") {
                                rotation = " style='rotate: 90deg;'";
                                card_class = "Exhausted-Card";
                            }
                            for (var j = 5; j < card_data_split.length; j++) {
                                var attachment_string_id = (j-5).toString();
                                var attachment_data_split = card_data_split[j].split("+");
                                var attachment_name = attachment_data_split[0];
                                var attachment_ready = attachment_data_split[1];
                                var attachment_class = "Attachment-Card";
                                attachment_string_id = "ATTACHMENT/IN_PLAY/" + split_data[2] + "/" + split_data[3] + "/" + (i-4).toString() + "/" + attachment_string_id;
                                var attachment_route_text = "/static/images/CardImages/" + attachment_name.split(' ').join('_') + ".jpg";
                                var attachment_rotation = "";
                                if (attachment_ready === "E") {
                                    attachment_class = "Exhausted-Attachment-Card";
                                    attachment_rotation = " style='transform:rotate(90deg);'"
                                }
                                full_string += `<input type="image" src=` + attachment_route_text + ` alt=` + attachment_route_text + ` id=` + attachment_string_id + attachment_rotation + ` onclick="testImageButton(this.id);" class=` + attachment_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                            var style_string = "";
                            if (card_data_split.length > 5) {
                                if (rotation === "") {
                                    style_string = ` style="margin-left: ` + (card_data_split.length - 5).toString() + `vw"`;
                                } else {
                                    style_string = ` "margin-left: ` + (card_data_split.length - 5).toString() + `vw"`;
                                }
                            }
                            full_string += `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + rotation + style_string + ` onclick="testImageButton(this.id);" class=` + card_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            if (card_data_split[4] !== "") {
                                full_string += `<img src="/static/images/aiming_reticle_` + card_data_split[4] + `.png" alt="bugged" class="aiming-reticle"></img>`;
                            }
                            if (damage === "0") {
                                full_string += `</div>`
                            } else {
                                full_string += `<img src="/static/images/damagetokens/` + damage + `_Damage.png" alt="bugged" class="Damage"></img></div>`;
                            }
                            document.getElementById(target_planet_id).innerHTML += full_string;
                        }
                    }
                } else if (split_data[1] === "HQ") {
                    var target_headquarters = "headquarters-player-" + split_data[2];
                    document.getElementById(target_headquarters).innerHTML = ``
                    for (var i = 3; i < split_data.length; i++) {
                        var card_data_split = split_data[i].split("|");
                        var card_name = card_data_split[0];
                        var is_ready = card_data_split[1];
                        var damage = card_data_split[2];
                        var hale = card_data_split[3];
                        var string_id = (i-3).toString();
                        var card_class = "Card";
                        string_id = "HQ/" + split_data[2] + "/" + string_id;
                        card_name = card_name.split(' ').join('_');
                        if (hale === "B") {
                            card_name += "_bloodied";
                        }
                        var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                        var rotation = "";
                        var full_string = `<div class="Card-div">`;
                        if (is_ready === "E") {
                            card_class = "Exhausted-Card";
                            rotation = " style='transform:rotate(90deg);'";
                        }
                        for (var j = 5; j < card_data_split.length; j++) {
                            console.log(card_data_split[j]);
                            var attachment_string_id = (j-5).toString();
                            var attachment_data_split = card_data_split[j].split("+");
                            var attachment_name = attachment_data_split[0];
                            var attachment_ready = attachment_data_split[1];
                            var attachment_class = "Attachment-Card";
                            attachment_string_id = "ATTACHMENT/HQ/" + split_data[2] + "/" + (i-3).toString() + "/" + attachment_string_id;
                            var attachment_route_text = "/static/images/CardImages/" + attachment_name.split(' ').join('_') + ".jpg";
                            var attachment_rotation = "";
                            if (attachment_ready === "E") {
                                attachment_class = "Exhausted-Attachment-Card";
                                attachment_rotation = " style='transform:rotate(90deg);'"
                            }
                            full_string += `<input type="image" src=` + attachment_route_text + ` alt=` + attachment_route_text + ` id=` + attachment_string_id + attachment_rotation + ` onclick="testImageButton(this.id);" class=` + attachment_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                        }
                        var style_string = "";
                        if (card_data_split.length > 5) {
                            if (rotation === "") {
                                style_string = ` style="margin-left: ` + (card_data_split.length - 5).toString() + `vw"`;
                            } else {
                                style_string = ` "margin-left: ` + (card_data_split.length - 5).toString() + `vw"`;
                            }
                        }
                        full_string += `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + rotation + style_string + ` onclick="testImageButton(this.id);" class=` + card_class + ` onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                        if (card_data_split[4] !== "") {
                            full_string += `<img src="/static/images/aiming_reticle_` + card_data_split[4] + `.png" alt="bugged" class="aiming-reticle"></img>`;
                        }
                        if (damage === "0") {
                            full_string += `</div>`
                        } else {
                            full_string += `<img src="/static/images/damagetokens/` + damage + `_Damage.png" alt="bugged" class="Damage"></img></div>`;
                        }
                        document.getElementById(target_headquarters).innerHTML += full_string;
                    }
                } else if (split_data[1] === "CHOICE") {
                    var full_string = `<details><summary>` + split_data[3] + `</summary>`;
                    if (split_data[2] === "{{ user.username }}") {
                        for (var i = 4; i < split_data.length; i++) {
                            full_string += `<input id="CHOICE/` + (i-4).toString() + `" type="button" value="` + split_data[i] + `" onclick="testImageButton(this.id);">`
                        }
                    }
                    full_string += `</details>`;
                    document.getElementById("search-collapse").innerHTML = full_string;
                } else if (split_data[1] === "SOUND") {
                    console.log("trying to play sound")
                    var soundUrl = "/static/sounds/" + split_data[2] + ".wav";
                    playSound(soundUrl);
                } else if (split_data[1] === "SEARCH") {
                    var full_string = `<details><summary>` + split_data[3] + `</summary>`;
                    if (split_data[2] === "{{ user.username }}") {
                        for (var i = 4; i < split_data.length; i++) {
                            var card_name = split_data[i];
                            var string_id = (i-4).toString();
                            string_id = "SEARCH/" + string_id;
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                            full_string += `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`;
                        }
                    } else {
                        for (var i = 4; i < split_data.length; i++) {
                            var string_id = (i-4).toString();
                            var route_text = "/static/images/CardImages/Cardback.jpg";
                            full_string += `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                        }
                    }
                    full_string += `</details>`;
                    document.getElementById("search-collapse").innerHTML = full_string;
                } else if (split_data[1] === "HAND") {
                    if (split_data[2] === "1") {
                        document.getElementById('current-hand-player-1').innerHTML = ``;
                        var current_card_count = `<legend>CARDS P1: ` + (split_data.length-4).toString() + ` CARDS</legend>`;
                        document.getElementById('current-hand-player-1').innerHTML = current_card_count;
                        if (split_data[3] === "{{ user.username }}") {
                            for (var i = 4; i < split_data.length; i++) {
                                var card_data_split = split_data[i].split("|");
                                var card_name = card_data_split[0];
                                var string_id = (i-4).toString();
                                string_id = "HAND/1/" + string_id;
                                card_name = card_name.split(' ').join('_');
                                var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                                var full_string = `<div class="Card-div"><input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`;
                                if (card_data_split.length === 1) {
                                    full_string += `</div>`
                                } else {
                                    full_string += `<img src="/static/images/aiming_reticle_` + card_data_split[1] + `.png" alt="bugged" class="aiming-reticle"></img></div>`;
                                }
                                document.getElementById('current-hand-player-1').innerHTML += full_string;
                            }
                        } else {
                            for (var i = 4; i < split_data.length; i++) {
                                var string_id = (i-4).toString();
                                string_id = "HAND/1/" + string_id;
                                var route_text = "/static/images/CardImages/Cardback.jpg";
                                document.getElementById('current-hand-player-1').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                        }
                    } else if (split_data[2] === "2") {
                        document.getElementById('current-hand-player-2').innerHTML = ``;
                        var current_card_count = `<legend>CARDS P2: ` + (split_data.length-4).toString() + ` CARDS</legend>`;
                        document.getElementById('current-hand-player-2').innerHTML = current_card_count;
                        if (split_data[3] === "{{ user.username }}") {
                            for (var i = 4; i < split_data.length; i++) {
                                var card_data_split = split_data[i].split("|");
                                var card_name = card_data_split[0];
                                var string_id = (i-4).toString();
                                string_id = "HAND/2/" + string_id;
                                card_name = card_name.split(' ').join('_');
                                var route_text = "/static/images/CardImages/" + card_name + ".jpg";
                                var full_string = `<div class="Card-div"><input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`;
                                if (card_data_split.length === 1) {
                                    full_string += `</div>`
                                } else {
                                    full_string += `<img src="/static/images/aiming_reticle_` + card_data_split[1] + `.png" alt="bugged" class="aiming-reticle"></img></div>`;
                                }
                                document.getElementById('current-hand-player-2').innerHTML += full_string;
                            }
                        } else {
                            for (var i = 4; i < split_data.length; i++) {
                                var string_id = (i-4).toString();
                                string_id = "HAND/2/" + string_id;
                                var route_text = "/static/images/CardImages/Cardback.jpg";
                                document.getElementById('current-hand-player-2').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                        }
                    }
                }
            } else {
                var text = data.message;
                var split_text = data.message.split(":");
                var new_img = `
                <img class="avatar-chat" src="/media/` + split_text[0] + `.jpg" onerror="this.onerror=null; this.src='/static/images/defaultprofile.jpg'">
                `;
                document.querySelector('#chat-log').innerHTML += (new_img + data.message + '<br>');
            }
            var textarea = document.getElementById('chat-log');
            textarea.scrollTop = textarea.scrollHeight;
        };

        gameSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'message': 'CHAT_MESSAGE/' + message
            }));
            messageInputDom.value = '';
        };

        function testImageButton(button_id) {
            gameSocket.send(JSON.stringify({
                'message': 'BUTTON PRESSED/' + button_id
            }));
        };

        const dragElements = document.querySelectorAll(".draggable");

        function onMouseDrag(event, element) {
            let leftValue = parseInt(window.getComputedStyle(element).left);
            let topValue = parseInt(window.getComputedStyle(element).top);
            element.style.left = `${leftValue + event.movementX}px`;
            element.style.top = `${topValue + event.movementY}px`;
        }

        dragElements.forEach((element) => {
            element.addEventListener("mousedown", (e) => {
                const onMove = (event) => onMouseDrag(event, element);

                document.addEventListener("mousemove", onMove);
                document.addEventListener("mouseup", () => {
                    document.removeEventListener("mousemove", onMove);
                }, { once: true });
            });
        });

        function changeDef(image_src) {
            document.getElementById("LargeHelperCard").src=image_src;
        }

        function changeDefOut() {

        }

        function showDiscard(discard_id) {
        var target_discard_display = "expanded/" + discard_id;
        target_discard_display = target_discard_display.split('/').join('-');
        var x = document.getElementById(target_discard_display);
        if (x.style.display !== "block") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }
    </script>
{% endblock %}
