{% extends "base.html" %}

{% block title %}Lobby{% endblock %}

{% block content %}
<style>
        .box {
            width: 200px;
            height: 32px;
            background-color: lightblue;
            border: 2px solid blue;
            padding: 10px;
            margin: 10px;
        }
</style>
<h2>Lobby</h2>
<input id="create-lobby-submit" type="button" value="Create lobby">
<div id="add_to_me">
    <p>Prior text</p>
</div>
<script>
        const lobbySocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/play/'
        );

        lobbySocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_string = data.message.split("/");
            if (data.message === "Logged out")
            {
                addAnonymousError()
            } else if (data.message === "Already in lobby") {
                addAlreadyLobbiedError()
            } else if (data.message === "Delete lobby") {
                deleteLobby()
            } else {
                addLobby(split_string[1], split_string[2])
            }
        };

        document.querySelector('#create-lobby-submit').onclick = function(e) {
            lobbySocket.send(JSON.stringify({
                'message': "Create lobby"
            }));
        };

        function joinLobby(clicked_id) {
            lobbySocket.send(JSON.stringify({
                'message': "Join lobby/" + clicked_id
            }));
        }

        function removeLobby() {
            lobbySocket.send(JSON.stringify({
                'message': "Remove lobby"
            }));
        }

        function addLobby(nameOfPlayerOne, nameOfPlayerTwo) {
            document.getElementById("add_to_me").innerHTML +=
                `<h3>
                    {{ user.username }}
                </h3>
                <div class="box">Lobby: ` + nameOfPlayerOne + ` VS `+ nameOfPlayerTwo + `
                </div>`;
            if (nameOfPlayerTwo === "" && nameOfPlayerOne !== "{{ user.username }}") {
                document.getElementById("add_to_me").innerHTML +=
                    `<button id=` + nameOfPlayerOne + ` onclick="joinLobby(this.id)">
                    Join Lobby
                    </button>`;
            }
            if (nameOfPlayerOne === "{{ user.username }}") {
                document.getElementById("add_to_me").innerHTML +=
                    `<button onclick="removeLobby()">
                    Remove Lobby
                    </button>`;
            }
        }

        function addAnonymousError() {
            document.getElementById("add_to_me")
                .innerHTML +=
                `<h3>Not logged in</h3>`;
        }

        function deleteLobby() {
            document.getElementById("add_to_me")
                .innerHTML =
                `<h3></h3>`;
        }

        function addAlreadyLobbiedError() {
            document.getElementById("add_to_me")
                .innerHTML +=
                `<h3>Already Lobbied</h3>`;
        }
</script>
{% endblock %}