{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'play_style.css' %}">
<div class="box">
<h2>Game</h2>
<h1>Placeholder</h1>
<h4>Test</h4>
<h5 id="Testing-css">Another test</h5>
<textarea id="chat-log" cols="20" rows="20"></textarea><br>
<input id="chat-message-input" type="text" size="15"><br>
<input id="chat-message-submit" type="button" value="Send">
<input type="image" src="/static/images/Cardback.jpg" height="200" width="150" name="test-cardback" id="test-image-button" alt="didn't load" onclick="testImageButton(this.id);">
<div id="current-hand-player-1">
    <p></p>
</div>
<div id="current-hand-player-2">
    <p></p>
</div>
<div id="current-headquarters-player-1">
    <p></p>
</div>
<div id="current-headquarters-player-2">
    <p></p>
</div>
<div id="planets-in-play">
    <p></p>
</div>
</div>
{{ game_id|json_script:"game-id" }}
<script>
        const roomName = JSON.parse(document.getElementById('game-id').textContent);

        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/play/'
            + roomName
            + '/'
        );

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_data = data.message.split("/");
            if (split_data[0] === "GAME_INFO") {
                document.querySelector('#chat-log').value += ('received some data from server\n');
                if (split_data[1] === "HAND") {
                    if (split_data[2] === "1") {
                        document.querySelector('#chat-log').value += ('Update P1 hand\n');
                        document.getElementById('current-hand-player-1').innerHTML =
                        `<p></p>`
                        if (split_data[3] === "{{ user.username }}") {
                            for (var i = 4; i < split_data.length; i++) {
                            document.querySelector('#chat-log').value += (split_data[i] + '\n');
                            var card_name = split_data[i];
                            var string_id = (i-3).toString();
                            string_id = "HAND/1/" + string_id;
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            document.getElementById('current-hand-player-1').innerHTML +=
                            `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` height=139 width=97 onclick="testImageButton(this.id);">`
                            }
                        }
                    } else if (split_data[2] === "2") {
                        document.querySelector('#chat-log').value += ('Update P2 hand\n');
                        document.getElementById('current-hand-player-2').innerHTML =
                        `<p></p>`
                        if (split_data[3] === "{{ user.username }}") {
                            for (var i = 4; i < split_data.length; i++) {
                                document.querySelector('#chat-log').value += (split_data[i] + '\n');
                                var card_name = split_data[i];
                                var string_id = (i-3).toString();
                                string_id = "HAND/2/" + string_id;
                                card_name = card_name.split(' ').join('_');
                                var route_text = "/static/images/" + card_name + ".jpg";
                                document.getElementById('current-hand-player-2').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` height=139 width=97 onclick="testImageButton(this.id);">`
                            }
                        }
                    }
                }
            } else {
            document.querySelector('#chat-log').value += (data.message + '\n');
            }
        };

        gameSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'message': 'CHAT_MESSAGE/' + message
            }));
            messageInputDom.value = '';
        };

        function testImageButton(button_id) {
            gameSocket.send(JSON.stringify({
                'message': 'BUTTON PRESSED/' + button_id
            }));
        };
    </script>
{% endblock %}