{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'play_style.css' %}">
<div class="box">
    <textarea id="chat-log" cols="20" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="15"><br>
    <input id="chat-message-submit" type="button" value="Send">
    <img src="/static/images/Nazdreg.jpg" alt="didnt work" id="LargeHelperCard">
    <div id="current-hand-player-1">
        <p></p>
    </div>
    <div id="current-hand-player-2">
        <p></p>
    </div>
    <div id="current-deck-player-1">
        <img src="/static/images/ConquestCardback.jpg" alt="didnt work" id="deck-p1" class="Card">
    </div>
    <div id="current-deck-player-2">
        <img src="/static/images/ConquestCardback.jpg" alt="didnt work" id="deck-p2" class="Card">
    </div>
    <div id="current-discard-player-1">
        <img src="/static/images/Nazdreg.jpg" alt="didnt work" id="discard-p1" class="Card">
    </div>
    <div id="current-discard-player-2">
        <img src="/static/images/Nazdreg.jpg" alt="didnt work" id="discard-p2" class="Card">
    </div>
    <div id="headquarters-player-1">
        <p>Test hq p1</p>
    </div>
    <div id="headquarters-player-2">
        <p>Test hq p2</p>
    </div>
    <div id ="resources-player-1">
        <p>Resources p1</p>
    </div>
    <div id ="resources-player-2">
        <p>Resources p2</p>
    </div>
    <div id ="pass-player-1">
        <input id="pass-P1" type="button" value="PASS P1" onclick="testImageButton(this.id);">
    </div>
    <div id ="pass-player-2">
        <input id="pass-P2" type="button" value="PASS P2" onclick="testImageButton(this.id);">
    </div>
    <div id="planets-in-play">
        <p>Amogus</p>
    </div>
    <div id="player-1-cards-in-play">
        <div id="player-1-cards-planet-0" class="player-1-in-play">
            <p>P1P0</p>
        </div>
        <div id="player-1-cards-planet-1" class="player-1-in-play">
            <p>P1P1</p>
        </div>
        <div id="player-1-cards-planet-2" class="player-1-in-play">
            <p>P1P2</p>
        </div>
        <div id="player-1-cards-planet-3" class="player-1-in-play">
            <p>P1P3</p>
        </div>
        <div id="player-1-cards-planet-4" class="player-1-in-play">
            <p>P1P4</p>
        </div>
        <div id="player-1-cards-planet-5" class="player-1-in-play">
            <p>P1P5</p>
        </div>
        <div id="player-1-cards-planet-6" class="player-1-in-play">
            <p>P1P6</p>
        </div>
    </div>
    <div id="player-2-cards-in-play">
        <div id="player-2-cards-planet-0" class="player-2-in-play">
            <p>P2P0</p>
        </div>
        <div id="player-2-cards-planet-1" class="player-2-in-play">
            <p>P2P1</p>
        </div>
        <div id="player-2-cards-planet-2" class="player-2-in-play">
            <p>P2P2</p>
        </div>
        <div id="player-2-cards-planet-3" class="player-2-in-play">
            <p>P2P3</p>
        </div>
        <div id="player-2-cards-planet-4" class="player-2-in-play">
            <p>P2P4</p>
        </div>
        <div id="player-2-cards-planet-5" class="player-2-in-play">
            <p>P2P5</p>
        </div>
        <div id="player-2-cards-planet-6" class="player-2-in-play">
            <p>P2P6</p>
        </div>
    </div>
</div>
{{ game_id|json_script:"game-id" }}
<script>
        const roomName = JSON.parse(document.getElementById('game-id').textContent);

        const gameSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/play/'
            + roomName
            + '/'
        );

        cardHeight = 100;
        cardWidth = 63;

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const split_data = data.message.split("/");
            if (split_data[0] === "GAME_INFO") {
                document.querySelector('#chat-log').value += ('received some data from server\n');
                if (split_data[1] === "PLANETS") {
                    document.getElementById('planets-in-play').innerHTML = ``
                    for (var i = 2; i < split_data.length; i++) {
                        document.querySelector('#chat-log').value += (split_data[i] + '\n');
                        var card_name = split_data[i];
                        var string_id = (i-2).toString();
                        string_id = "PLANETS/" + string_id;
                        card_name = card_name.split(' ').join('_');
                        var route_text = "/static/images/PlanetImages/" + card_name + ".jpg";
                        document.getElementById('planets-in-play').innerHTML +=
                        `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="planet"  onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                    }
                } else if (split_data[1] === "RESOURCES") {
                    if (split_data[2] === "1") {
                        document.getElementById('resources-player-1').innerHTML = `<p>` + split_data[3] + `</p>`;
                    } else if (split_data[2] === "2") {
                        document.getElementById('resources-player-2').innerHTML = `<p>` + split_data[3] + `</p>`;
                    }
                } else if (split_data[1] === "IN_PLAY") {
                    var target_planet_id = "player-" + split_data[2] + "-cards-planet-" + split_data[3];
                    document.getElementById(target_planet_id).innerHTML = ``;
                    document.querySelector('#chat-log').value += ('Update P1 in play\n');
                    for (var i = 4; i < split_data.length; i++) {
                        var card_data_split = split_data[i].split("|");
                        var card_name = card_data_split[0];
                        var is_ready = card_data_split[1];
                        var string_id = (i-4).toString();
                        string_id = "IN_PLAY/" + split_data[2] + "/" + split_data[3] + "/" + string_id;
                        card_name = card_name.split(' ').join('_');
                        var route_text = "/static/images/" + card_name + ".jpg";
                        document.querySelector('#chat-log').value += (string_id + '\n');
                        var rotation = "";
                        if (is_ready === "E") {
                            rotation = " style='transform:rotate(90deg);'";
                        }
                        document.getElementById(target_planet_id).innerHTML +=
                        `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + rotation + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                    }

                } else if (split_data[1] === "HQ") {
                    if (split_data[2] === "1") {
                        document.querySelector('#chat-log').value += ('Update P1 HQ\n');
                        document.getElementById('headquarters-player-1').innerHTML = ``
                        for (var i = 3; i < split_data.length; i++) {
                            var card_data_split = split_data[i].split("|");
                            var card_name = card_data_split[0];
                            var is_ready = card_data_split[1];
                            var damage = card_data_split[2];
                            var string_id = (i-3).toString();
                            document.querySelector('#chat-log').value += card_name + "\n" + is_ready + "\n" + damage + "\n";
                            string_id = "HQ/1/" + string_id;
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            var rotation = "";
                            if (is_ready === "E") {
                                rotation = " style='transform:rotate(90deg);'";
                            }
                            var full_string = `<div class="Card"><input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + rotation + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            if (damage === "0") {
                                full_string += `</div>`
                            } else {
                                full_string += `<img src="/static/images/damagetokens/` + damage + `_Damage.png" alt="bugged" class="Damage"></img></div>`;
                            }
                            document.getElementById('headquarters-player-1').innerHTML += full_string;

                        }
                    } else if (split_data[2] === "2") {
                        document.querySelector('#chat-log').value += ('Update P2 HQ\n');
                        document.getElementById('headquarters-player-2').innerHTML = ``
                        for (var i = 3; i < split_data.length; i++) {
                            var card_data_split = split_data[i].split("|");
                            var card_name = card_data_split[0];
                            var is_ready = card_data_split[1];
                            var damage = card_data_split[2];
                            var string_id = (i-3).toString();
                            document.querySelector('#chat-log').value += card_name + "\n" + is_ready + "\n" + damage + "\n";
                            string_id = "HQ/2/" + string_id;
                            card_name = card_name.split(' ').join('_');
                            var route_text = "/static/images/" + card_name + ".jpg";
                            var rotation = "";
                            if (is_ready === "E") {
                                rotation = " style='transform:rotate(90deg);'";
                            }
                            var full_string = `<div class="Card"><input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + rotation + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            if (damage === "0") {
                                full_string += `</div>`
                            } else {
                                full_string += `<img src="/static/images/damagetokens/` + damage + `_Damage.png" alt="bugged" class="Damage"></img></div>`;
                            }
                            document.getElementById('headquarters-player-2').innerHTML += full_string;
                        }
                    }
                } else if (split_data[1] === "HAND") {
                    if (split_data[2] === "1") {
                        document.querySelector('#chat-log').value += ('Update P1 hand\n');
                        document.getElementById('current-hand-player-1').innerHTML = ``
                        if (split_data[3] === "{{ user.username }}") {
                            for (var i = 4; i < split_data.length; i++) {
                                document.querySelector('#chat-log').value += (split_data[i] + '\n');
                                var card_name = split_data[i];
                                var string_id = (i-4).toString();
                                string_id = "HAND/1/" + string_id;
                                card_name = card_name.split(' ').join('_');
                                var route_text = "/static/images/" + card_name + ".jpg";
                                document.getElementById('current-hand-player-1').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                        } else {
                            for (var i = 4; i < split_data.length; i++) {
                                var string_id = (i-4).toString();
                                string_id = "HAND/1/" + string_id;
                                var route_text = "/static/images/Cardback.jpg";
                                document.getElementById('current-hand-player-1').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                        }
                    } else if (split_data[2] === "2") {
                        document.querySelector('#chat-log').value += ('Update P2 hand\n');
                        document.getElementById('current-hand-player-2').innerHTML = ``
                        if (split_data[3] === "{{ user.username }}") {
                            for (var i = 4; i < split_data.length; i++) {
                                document.querySelector('#chat-log').value += (split_data[i] + '\n');
                                var card_name = split_data[i];
                                var string_id = (i-4).toString();
                                string_id = "HAND/2/" + string_id;
                                card_name = card_name.split(' ').join('_');
                                var route_text = "/static/images/" + card_name + ".jpg";
                                document.getElementById('current-hand-player-2').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                        } else {
                            for (var i = 4; i < split_data.length; i++) {
                                var string_id = (i-4).toString();
                                string_id = "HAND/2/" + string_id;
                                var route_text = "/static/images/Cardback.jpg";
                                document.getElementById('current-hand-player-2').innerHTML +=
                                `<input type="image" src=` + route_text + ` alt=` + route_text + ` id=` + string_id + ` onclick="testImageButton(this.id);" class="Card" onmouseover="changeDef(this.src)" onmouseout="changeDefOut()">`
                            }
                        }
                    }
                }
            } else {
            document.querySelector('#chat-log').value += (data.message + '\n');
            }
        };

        gameSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            gameSocket.send(JSON.stringify({
                'message': 'CHAT_MESSAGE/' + message
            }));
            messageInputDom.value = '';
        };

        function testImageButton(button_id) {
            gameSocket.send(JSON.stringify({
                'message': 'BUTTON PRESSED/' + button_id
            }));
        };

        function changeDef(image_src) {
            console.log(image_src);
            document.getElementById("LargeHelperCard").src=image_src;
        }

        function changeDefOut() {
            console.log("mouse left");
        }
    </script>
{% endblock %}